### 경찰직원현황

```
columns 설명

- year : 연도
- jur_stn : 경찰서
- pol_num : 경찰서별 경찰관 수
```

In [2]:
import numpy as np
import pandas as pd
import os
import re
import matplotlib.pyplot as plt

In [3]:
os.getcwd()

'C:\\Users\\SAMSUNG\\Desktop\\SSAC\\머신러닝\\메인프로젝트'

In [4]:
pol = pd.read_csv('./경찰데이터/경찰관현황total.csv', encoding = 'cp949',thousands = ',')
pol.head()

      년도 지방청    경찰서  경찰관
0  2016년  서울   서울중부  511
1  2016년  서울   서울종로  639
2  2016년  서울  서울남대문  488
3  2016년  서울  서울서대문  654
4  2016년  서울   서울혜화  481

In [5]:
# 결측치는 zero
pol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1531 entries, 0 to 1530
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년도      1531 non-null   object
 1   지방청     1531 non-null   object
 2   경찰서     1531 non-null   object
 3   경찰관     1531 non-null   int64
dtypes: int64(1), object(3)
memory usage: 48.0+ KB

In [6]:
pol.describe()

               경찰관
count  1531.000000
mean    380.774657
std     211.611139
min      55.000000
25%     182.000000
50%     366.000000
75%     517.000000
max    1040.000000

In [7]:
for col in pol.columns[:-1]:
    print(pol[col].unique())

['2016년' '2017년' '2018년' '2019년' '2020년' '2021년10월']
['서울' '부산' '대구' '인천' '광주' '대전' '울산' '경기남부' '경기북부' '강원' '충북' '충남' '전북' '전남'
 '경북' '경남' '제주' '세종']
['서울중부' '서울종로' '서울남대문' '서울서대문' '서울혜화' '서울용산' '서울성북' '서울동대문' '서울마포' '서울영등포'
 '서울성동' '서울동작' '서울광진' '서울서부' '서울강북' '서울금천' '서울중랑' '서울강남' '서울관악' '서울강서'
 '서울강동' '서울종암' '서울구로' '서울서초' '서울양천' '서울송파' '서울노원' '서울방배' '서울은평' '서울도봉'
 '서울수서' '부산중부' '부산동래' '부산영도' '부산동부' '부산진' '부산서부' '부산남부' '부산해운대' '부산사상'
 '부산금정' '부산사하' '부산연제' '부산강서' '부산북부' '부산기장' '대구중부' '대구동부' '대구서부' '대구남부'
 '대구북부' '대구수성' '대구달서' '대구성서' '대구달성' '대구강북' '인천중부' '인천남부' '인천남동' '인천부평'
 '인천삼산' '인천서부' '인천계양' '인천연수' '인천강화' '광주동부' '광주서부' '광주남부' '광주북부' '광주광산'
 '대전중부' '대전동부' '대전서부' '대전대덕' '대전둔산' '대전유성' '울산중부' '울산남부' '울산동부' '울산울주'
 '수원중부' '수원남부' '수원서부' '안양동안' '안양만안' '군포' '성남수정' '성남중원' '분당' '부천소사' '부천원미'
 '부천오정' '광명' '안산단원' '안산상록' '시흥' '평택' '화성동부' '화성서부' '용인동부' '용인서부' '광주' '김포'
 '과천' '의왕' '하남' '이천' '안성' '여주' '양평' '의정부' '고양' '일산동부' '일산서부' '남양주' '파주'
 '양주' '동두천' '구리' '포천' '가평' '연천' '춘천' '강릉' '원주' '동해' '태백' '속초' '삼척' '영월'
 '정선' '홍천' '평창' '횡성' '고성' '인제' '철원' '화천' '양구' '청주흥덕' '청주상당' '청주청원' '충주'
 '제천' '영동' '괴산' '단양' '보은' '옥천' '음성' '진천' '천안서북' '천안동남' '서산' '논산' '아산' '공주'
 '보령' '당진' '세종' '홍성' '예산' '부여' '서천' '금산' '청양' '전주완산' '전주덕진' '군산' '익산' '정읍'
 '남원' '김제' '완주' '고창' '부안' '임실' '순창' '진안' '장수' '무주' '목포' '여수' '순천' '나주'
 '광양' '고흥' '해남' '무안' '장흥' '보성' '영광' '화순' '함평' '영암' '장성' '강진' '담양' '곡성'
 '완도' '진도' '구례' '경주' '포항북부' '포항남부' '구미' '경산' '안동' '김천' '영주' '영천' '상주' '문경'
 '칠곡' '의성' '청도' '영덕' '울진' '봉화' '예천' '성주' '청송' '영양' '군위' '고령' '울릉' '창원중부'
 '창원서부' '마산중부' '마산동부' '진주' '김해중부' '김해서부' '거제' '양산' '진해' '통영' '사천' '밀양'
 '거창' '합천' '창녕' '하동' '남해' '함양' '산청' '함안' '의령' '제주동부' '제주서부' '서귀포' '인천논현'
 '태안' '인천미추홀' '오산' '화성동탄' '울산북부' '남양주남부' '남양주북부' '세종남부' '세종북부']

In [8]:
pol.columns

Index(['년도', '지방청', '경찰서', '경찰관'], dtype='object')

### 경찰서 이름 통일

In [9]:
pol[pol.경찰서.str.contains('서울')]

            년도 지방청    경찰서  경찰관
0        2016년  서울   서울중부  511
1        2016년  서울   서울종로  639
2        2016년  서울  서울남대문  488
3        2016년  서울  서울서대문  654
4        2016년  서울   서울혜화  481
...        ...  ..    ...  ...
1299  2021년10월  서울   서울노원  799
1300  2021년10월  서울   서울방배  350
1301  2021년10월  서울   서울은평  456
1302  2021년10월  서울   서울도봉  553
1303  2021년10월  서울   서울수서  649

[186 rows x 4 columns]

In [10]:
pol_seoul = pol[pol['경찰서'].str.contains('서울')]
pol_seoul['jur_stn'] = pol_seoul['경찰서'].apply(lambda x : (x + '경찰서'))
pol_seoul.jur_stn.unique()

<ipython-input-10-e3e801b5fa4e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pol_seoul['jur_stn'] = pol_seoul['경찰서'].apply(lambda x : (x + '경찰서'))

array(['서울중부경찰서', '서울종로경찰서', '서울남대문경찰서', '서울서대문경찰서', '서울혜화경찰서', '서울용산경찰서',
       '서울성북경찰서', '서울동대문경찰서', '서울마포경찰서', '서울영등포경찰서', '서울성동경찰서', '서울동작경찰서',
       '서울광진경찰서', '서울서부경찰서', '서울강북경찰서', '서울금천경찰서', '서울중랑경찰서', '서울강남경찰서',
       '서울관악경찰서', '서울강서경찰서', '서울강동경찰서', '서울종암경찰서', '서울구로경찰서', '서울서초경찰서',
       '서울양천경찰서', '서울송파경찰서', '서울노원경찰서', '서울방배경찰서', '서울은평경찰서', '서울도봉경찰서',
       '서울수서경찰서'], dtype=object)

In [11]:
pol_seoul = pol_seoul[['년도','jur_stn','경찰관']]
pol_seoul

            년도   jur_stn  경찰관
0        2016년   서울중부경찰서  511
1        2016년   서울종로경찰서  639
2        2016년  서울남대문경찰서  488
3        2016년  서울서대문경찰서  654
4        2016년   서울혜화경찰서  481
...        ...       ...  ...
1299  2021년10월   서울노원경찰서  799
1300  2021년10월   서울방배경찰서  350
1301  2021년10월   서울은평경찰서  456
1302  2021년10월   서울도봉경찰서  553
1303  2021년10월   서울수서경찰서  649

[186 rows x 3 columns]

In [12]:
len(pol_seoul.jur_stn.unique())

31

In [13]:
pol[pol.경찰서.str.contains('세종')]

            년도 지방청   경찰서  경찰관
159      2016년  충남    세종  260
412      2017년  충남    세종  298
667      2018년  충남    세종  308
842      2019년  세종    세종  305
1098     2020년  세종    세종  335
1355  2021년10월  세종  세종남부  259
1356  2021년10월  세종  세종북부  172

In [14]:
pol_sejong = pol[pol.경찰서.str.contains('세종')]
pol_sejong['jur_stn'] = pol_sejong['경찰서'].apply(lambda x : x[:2])
pol_sejong

<ipython-input-14-67b1d64d04ac>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pol_sejong['jur_stn'] = pol_sejong['경찰서'].apply(lambda x : x[:2])

            년도 지방청   경찰서  경찰관 jur_stn
159      2016년  충남    세종  260      세종
412      2017년  충남    세종  298      세종
667      2018년  충남    세종  308      세종
842      2019년  세종    세종  305      세종
1098     2020년  세종    세종  335      세종
1355  2021년10월  세종  세종남부  259      세종
1356  2021년10월  세종  세종북부  172      세종

In [15]:
pol_sejong = pol_sejong[['년도','jur_stn','경찰관']]
pol_sejong

            년도 jur_stn  경찰관
159      2016년      세종  260
412      2017년      세종  298
667      2018년      세종  308
842      2019년      세종  305
1098     2020년      세종  335
1355  2021년10월      세종  259
1356  2021년10월      세종  172

In [16]:
pol['jur_stn'] = pol['경찰서'].apply(lambda x : (x + '경찰서') if x != '세종남부' else x[:2] + '경찰서')

In [17]:
pol['jur_stn'] = pol['jur_stn'].apply(lambda x : x if x != '세종북부경찰서' else x[:2] + x[-3:])

In [18]:
pol[pol.jur_stn.str.contains('세종')]

            년도 지방청   경찰서  경찰관 jur_stn
159      2016년  충남    세종  260   세종경찰서
412      2017년  충남    세종  298   세종경찰서
667      2018년  충남    세종  308   세종경찰서
842      2019년  세종    세종  305   세종경찰서
1098     2020년  세종    세종  335   세종경찰서
1355  2021년10월  세종  세종남부  259   세종경찰서
1356  2021년10월  세종  세종북부  172   세종경찰서

In [19]:
#pol.drop(['jur_stn'], axis = 1, inplace = True)

In [20]:
pol['jur_stn'] = pol['경찰서'].apply(lambda x : (x + '경찰서') if x != '세종남부' else x[:2] + '경찰서')

In [21]:
pol_seoul = pol[pol.jur_stn.str.contains('서울')]

In [22]:
pol_chang = pol[pol.jur_stn.str.contains('창원')]

In [23]:
pol_jinju = pol[pol.jur_stn.str.contains('진주')]

In [24]:
pol_masan = pol[pol.jur_stn.str.contains('마산')]

In [25]:
pol_sejong = pol[pol.jur_stn.str.contains('세종')]

In [26]:
pol_jinhe = pol[pol.jur_stn.str.contains('진해')]

In [27]:
pol_suwon = pol[pol.jur_stn.str.contains('수원')]

In [28]:
df12 = pd.concat([pol_seoul,pol_chang, pol_jinju, pol_masan, pol_sejong, pol_jinhe,pol_suwon])
df12.drop(['경찰서'], axis = 1, inplace = True)
df12

            년도   지방청  경찰관   jur_stn
0        2016년    서울  511   서울중부경찰서
1        2016년    서울  639   서울종로경찰서
2        2016년    서울  488  서울남대문경찰서
3        2016년    서울  654  서울서대문경찰서
4        2016년    서울  481   서울혜화경찰서
...        ...   ...  ...       ...
1100     2020년  경기남부  769   수원남부경찰서
1101     2020년  경기남부  516   수원서부경찰서
1357  2021년10월  경기남부  630   수원중부경찰서
1358  2021년10월  경기남부  773   수원남부경찰서
1359  2021년10월  경기남부  517   수원서부경찰서

[247 rows x 4 columns]

In [29]:
# 경찰서 이름 통일 완성
len(df12.jur_stn.unique())

42

### 연도 통일하기

In [30]:
df12['년도'] = df12['년도'].apply(lambda x : str(x)[:4])
df12.drop('지방청', axis = 1, inplace = True)

In [31]:
df12[df12.jur_stn.str.contains(' ')]

Empty DataFrame
Columns: [년도, 경찰관, jur_stn]
Index: []

### groupby로 연도별, 경찰서별 직원수 그룹핑

In [32]:
# 16년부터 21년까지 경찰서별 경찰 직원 수
df12_nm = df12.groupby(['년도','jur_stn'], as_index = False).sum()
df12_nm

       년도  jur_stn  경찰관
0    2016  마산동부경찰서  368
1    2016  마산중부경찰서  285
2    2016  서울강남경찰서  781
3    2016  서울강동경찰서  722
4    2016  서울강북경찰서  648
..    ...      ...  ...
242  2021  수원중부경찰서  630
243  2021    진주경찰서  528
244  2021    진해경찰서  276
245  2021  창원서부경찰서  319
246  2021  창원중부경찰서  437

[247 rows x 3 columns]

In [33]:
df12 = df12_nm[df12_nm['년도'].apply(lambda x : int(x) >= 2017)]
df12 =  df12[df12['년도'].apply(lambda x : int(x) < 2021)]
df12

       년도  jur_stn  경찰관
41   2017  마산동부경찰서  365
42   2017  마산중부경찰서  286
43   2017  서울강남경찰서  802
44   2017  서울강동경찰서  733
45   2017  서울강북경찰서  655
..    ...      ...  ...
200  2020  수원중부경찰서  636
201  2020    진주경찰서  526
202  2020    진해경찰서  276
203  2020  창원서부경찰서  318
204  2020  창원중부경찰서  439

[164 rows x 3 columns]

In [34]:
df12.년도.value_counts()

2018    41
2019    41
2020    41
2017    41
Name: 년도, dtype: int64

In [35]:
df12.columns = ['date','jur_stn','pol_num']
df12

     date  jur_stn  pol_num
41   2017  마산동부경찰서      365
42   2017  마산중부경찰서      286
43   2017  서울강남경찰서      802
44   2017  서울강동경찰서      733
45   2017  서울강북경찰서      655
..    ...      ...      ...
200  2020  수원중부경찰서      636
201  2020    진주경찰서      526
202  2020    진해경찰서      276
203  2020  창원서부경찰서      318
204  2020  창원중부경찰서      439

[164 rows x 3 columns]

In [36]:
df2 = df12['date'].apply(lambda x : str(x) + '(상반기)')
df2

41     2017(상반기)
42     2017(상반기)
43     2017(상반기)
44     2017(상반기)
45     2017(상반기)
         ...
200    2020(상반기)
201    2020(상반기)
202    2020(상반기)
203    2020(상반기)
204    2020(상반기)
Name: date, Length: 164, dtype: object

### date를 상, 하반기로 구분해서 같은 값 넣어주기

In [38]:
df2 = df12.copy()

In [39]:
df2

     date  jur_stn  pol_num
41   2017  마산동부경찰서      365
42   2017  마산중부경찰서      286
43   2017  서울강남경찰서      802
44   2017  서울강동경찰서      733
45   2017  서울강북경찰서      655
..    ...      ...      ...
200  2020  수원중부경찰서      636
201  2020    진주경찰서      526
202  2020    진해경찰서      276
203  2020  창원서부경찰서      318
204  2020  창원중부경찰서      439

[164 rows x 3 columns]

In [40]:
df12['year'] = df12['date'].apply(lambda x : str(x) + '(상반기)')

In [41]:
df2['year'] = df2['date'].apply(lambda x : str(x) + '(하반기)')

In [42]:
df = pd.concat([df12,df2])
df.sort_values(by = 'year')

     date   jur_stn  pol_num       year
41   2017   마산동부경찰서      365  2017(상반기)
64   2017   서울수서경찰서      621  2017(상반기)
65   2017   서울양천경찰서      765  2017(상반기)
66   2017  서울영등포경찰서      958  2017(상반기)
67   2017   서울용산경찰서      683  2017(상반기)
..    ...       ...      ...        ...
179  2020   서울마포경찰서      875  2020(하반기)
180  2020   서울방배경찰서      354  2020(하반기)
181  2020  서울서대문경찰서      670  2020(하반기)
173  2020   서울금천경찰서      558  2020(하반기)
204  2020   창원중부경찰서      439  2020(하반기)

[328 rows x 4 columns]

In [43]:
df.year.unique()

array(['2017(상반기)', '2018(상반기)', '2019(상반기)', '2020(상반기)', '2017(하반기)',
       '2018(하반기)', '2019(하반기)', '2020(하반기)'], dtype=object)

In [45]:
df_pol = df.groupby(['year','jur_stn'],as_index = False).sum()
df_pol

          year  jur_stn  pol_num
0    2017(상반기)  마산동부경찰서      365
1    2017(상반기)  마산중부경찰서      286
2    2017(상반기)  서울강남경찰서      802
3    2017(상반기)  서울강동경찰서      733
4    2017(상반기)  서울강북경찰서      655
..         ...      ...      ...
323  2020(하반기)  수원중부경찰서      636
324  2020(하반기)    진주경찰서      526
325  2020(하반기)    진해경찰서      276
326  2020(하반기)  창원서부경찰서      318
327  2020(하반기)  창원중부경찰서      439

[328 rows x 3 columns]

In [46]:
df_pol.to_csv('./12번.경찰직원현황_total.csv')