### 1인가구

- single_합계: 전체 1인가구수
- single_u20: 20세 미만 1인가구수
- single_2030: 2030대 1인가구수
- single_4050: 4050대 1인가구수
- single_o60: 60세 이상 1인가구수
- single_f_합계: 전체 여성 1인가구수
- single_f_u20: 20세 미만 여성 1인가구수
- single_f_2030: 2030대 여성 1인가구수
- single_f_4050: 4050대 여성 1인가구수
- single_f_o60: 60세 이상 여성 1인가구수

In [33]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt

In [34]:
df_b = pd.read_csv('base_df.csv')
df = pd.read_csv('./data/15.5개시도_1인가구수.csv')

In [35]:
df

,sido,sgg_nm,sx,age,date,single_person_hh,house_total_num,detached_house,apartment,townhouse,multiplex_house,house_in_commercial,not_in_house
0,서울특별시,종로구,계,합계,2017,23638,19260,11234,2992,887,3279,868,4378
1,서울특별시,종로구,계,20세 미만,2017,507,459,379,11,11,38,20,48
2,서울특별시,종로구,계,20~24,2017,2992,2519,1773,158,44,340,204,473
3,서울특별시,종로구,계,25~29,2017,3627,2845,1677,398,77,552,141,782
4,서울특별시,종로구,계,30~34,2017,2552,1970,1024,357,64,449,76,582
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5179,서울특별시,광진구,여자,65~69,2019,1401,1371,837,202,39,257,36,30
5180,서울특별시,광진구,여자,70~74,2019,1300,1268,783,164,35,254,32,32
5181,서울특별시,광진구,여자,75~79,2019,1221,1182,740,175,44,197,26,39
5182,서울특별시,광진구,여자,80~84,2019,849,802,471,170,20,122,19,47
5183,서울특별시,광진구,여자,85세 이상,2019,574,527,339,95,10,73,10,47

In [36]:
df['sx'].unique()

array(['계', '남자', '여자'], dtype=object)

In [37]:
# 불필요한 컬럼 제거
df.drop(columns = ['sido', 'house_total_num', 'detached_house', 'apartment', 'townhouse',
       'multiplex_house', 'house_in_commercial', 'not_in_house'], inplace = True)

In [38]:
df

     sgg_nm  sx     age  date  single_person_hh
0       종로구   계      합계  2017             23638
1       종로구   계  20세 미만  2017               507
2       종로구   계   20~24  2017              2992
3       종로구   계   25~29  2017              3627
4       종로구   계   30~34  2017              2552
...     ...  ..     ...   ...               ...
5179    광진구  여자   65~69  2019              1401
5180    광진구  여자   70~74  2019              1300
5181    광진구  여자   75~79  2019              1221
5182    광진구  여자   80~84  2019               849
5183    광진구  여자  85세 이상  2019               574

[5184 rows x 5 columns]

In [39]:
# 필요한 데이터행 추출
df_n = df[df['sx'].isin(['계', '여자'])]
df_n

     sgg_nm  sx     age  date  single_person_hh
0       종로구   계      합계  2017             23638
1       종로구   계  20세 미만  2017               507
2       종로구   계   20~24  2017              2992
3       종로구   계   25~29  2017              3627
4       종로구   계   30~34  2017              2552
...     ...  ..     ...   ...               ...
5179    광진구  여자   65~69  2019              1401
5180    광진구  여자   70~74  2019              1300
5181    광진구  여자   75~79  2019              1221
5182    광진구  여자   80~84  2019               849
5183    광진구  여자  85세 이상  2019               574

[3456 rows x 5 columns]

In [40]:
df_na = df[df['sx'].isin(['계'])]
df_na

     sgg_nm sx     age  date  single_person_hh
0       종로구  계      합계  2017             23638
1       종로구  계  20세 미만  2017               507
2       종로구  계   20~24  2017              2992
3       종로구  계   25~29  2017              3627
4       종로구  계   30~34  2017              2552
...     ... ..     ...   ...               ...
5147    광진구  계   65~69  2019              2286
5148    광진구  계   70~74  2019              1959
5149    광진구  계   75~79  2019              1621
5150    광진구  계   80~84  2019              1060
5151    광진구  계  85세 이상  2019               679

[1728 rows x 5 columns]

In [41]:
df_nf = df[df['sx'].isin(['여자'])]
df_nf

     sgg_nm  sx     age  date  single_person_hh
32      종로구  여자      합계  2017             12044
33      종로구  여자  20세 미만  2017               316
34      종로구  여자   20~24  2017              1854
35      종로구  여자   25~29  2017              1545
36      종로구  여자   30~34  2017              1178
...     ...  ..     ...   ...               ...
5179    광진구  여자   65~69  2019              1401
5180    광진구  여자   70~74  2019              1300
5181    광진구  여자   75~79  2019              1221
5182    광진구  여자   80~84  2019               849
5183    광진구  여자  85세 이상  2019               574

[1728 rows x 5 columns]

In [42]:
df_n.dtypes

sgg_nm              object
sx                  object
age                 object
date                 int64
single_person_hh     int64
dtype: object

In [43]:
# 경찰서별 담당 행정구역
sgg_nm_transfer = {
    '마산동부경찰서' : '창원시마산회원구'  ,
    '마산중부경찰서' : '창원시마산합포구'  ,
    '서울강남경찰서' : '강남구'  , 
    '서울강동경찰서' : '강동구' , 
    '서울강북경찰서' :'강북구'  , 
    '서울강서경찰서' :  '강서구',
    '서울관악경찰서' : '관악구' ,
      '서울광진경찰서' : '광진구', 
     '서울구로경찰서' : '구로구' , 
     '서울금천경찰서' : '금천구' , 
    '서울남대문경찰서' : '중구' , 
    '서울노원경찰서' : '노원구' ,
    '서울도봉경찰서' : '도봉구'  , 
    '서울동대문경찰서' : '동대문구'  , 
    '서울동작경찰서' : '동작구'  , 
    '서울마포경찰서' : '마포구' , 
    '서울방배경찰서' : '서초구', 
    '서울서대문경찰서' : '서대문구' ,
    '서울서부경찰서' : '은평구' , 
    '서울서초경찰서' : '서초구' , 
    '서울성동경찰서' : '성동구' , 
    '서울성북경찰서' :'성북구' , 
    '서울송파경찰서' :'송파구' , 
    '서울수서경찰서' : '강남구' ,
     '서울양천경찰서': '양천구'  , 
    '서울영등포경찰서' : '영등포구' , 
    '서울용산경찰서': '용산구'  , 
    '서울은평경찰서' : '은평구' , 
    '서울종로경찰서': '종로구', 
    '서울종암경찰서' : '성북구'  ,
     '서울중랑경찰서' : '중랑구'   , 
    '서울중부경찰서' : '중구'  , 
    '서울혜화경찰서': '종로구'  , 
    '세종경찰서' : '세종시'  , 
    '수원남부경찰서': '수원시영통구'  ,
   '수원서부경찰서' : '수원시팔달구'  ,  
    '수원중부경찰서' :'수원시장안구'   , 
    '진주경찰서' : '진주시'  ,
    '진해경찰서' : '창원시진해구'  , 
    '창원서부경찰서' : '창원시의창구' , 
    '창원중부경찰서': '창원시성산구'
    
}

In [44]:
df_b['sgg_nm'] = df_b['jur_stn'].apply(lambda x : sgg_nm_transfer[x])
df_b

      jur_stn       year    sgg_nm
0     서울중부경찰서   2016(이전)        중구
1     서울종로경찰서   2016(이전)       종로구
2    서울남대문경찰서   2016(이전)        중구
3    서울서대문경찰서   2016(이전)      서대문구
4     서울혜화경찰서   2016(이전)       종로구
..        ...        ...       ...
364   창원서부경찰서  2020(하반기)    창원시의창구
365   마산중부경찰서  2020(하반기)  창원시마산합포구
366   마산동부경찰서  2020(하반기)  창원시마산회원구
367     진주경찰서  2020(하반기)       진주시
368     진해경찰서  2020(하반기)    창원시진해구

[369 rows x 3 columns]

In [45]:
# 연도 추가
df_b['date'] = df_b['year'].apply(lambda x : int(x[:4]))
df_b

      jur_stn       year    sgg_nm  date
0     서울중부경찰서   2016(이전)        중구  2016
1     서울종로경찰서   2016(이전)       종로구  2016
2    서울남대문경찰서   2016(이전)        중구  2016
3    서울서대문경찰서   2016(이전)      서대문구  2016
4     서울혜화경찰서   2016(이전)       종로구  2016
..        ...        ...       ...   ...
364   창원서부경찰서  2020(하반기)    창원시의창구  2020
365   마산중부경찰서  2020(하반기)  창원시마산합포구  2020
366   마산동부경찰서  2020(하반기)  창원시마산회원구  2020
367     진주경찰서  2020(하반기)       진주시  2020
368     진해경찰서  2020(하반기)    창원시진해구  2020

[369 rows x 4 columns]

In [46]:
df_na = pd.merge(df_b, df_na, on =['sgg_nm', 'date'])
df_ba = df_na[['jur_stn', 'year', 'sgg_nm', 'date']]
df_ba

      jur_stn       year  sgg_nm  date
0     서울중부경찰서  2017(상반기)      중구  2017
1     서울중부경찰서  2017(상반기)      중구  2017
2     서울중부경찰서  2017(상반기)      중구  2017
3     서울중부경찰서  2017(상반기)      중구  2017
4     서울중부경찰서  2017(상반기)      중구  2017
...       ...        ...     ...   ...
3931    진해경찰서  2019(하반기)  창원시진해구  2019
3932    진해경찰서  2019(하반기)  창원시진해구  2019
3933    진해경찰서  2019(하반기)  창원시진해구  2019
3934    진해경찰서  2019(하반기)  창원시진해구  2019
3935    진해경찰서  2019(하반기)  창원시진해구  2019

[3936 rows x 4 columns]

In [47]:
for i in df_na['age'].unique() :
    df_ba['single_'+i] = 0

<ipython-input-47-dfeff9499cf5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ba['single_'+i] = 0

In [49]:
df_ba

,jur_stn,year,sgg_nm,date,single_합계,single_20세 미만,single_20~24,single_25~29,single_30~34,single_35~39,single_40~44,single_45~49,single_50~54,single_55~59,single_60~64,single_65~69,single_70~74,single_75~79,single_80~84,single_85세 이상
0,서울중부경찰서,2017(상반기),중구,2017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,서울중부경찰서,2017(상반기),중구,2017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,서울중부경찰서,2017(상반기),중구,2017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,서울중부경찰서,2017(상반기),중구,2017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,서울중부경찰서,2017(상반기),중구,2017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3931,진해경찰서,2019(하반기),창원시진해구,2019,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3932,진해경찰서,2019(하반기),창원시진해구,2019,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3933,진해경찰서,2019(하반기),창원시진해구,2019,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3934,진해경찰서,2019(하반기),창원시진해구,2019,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3935,진해경찰서,2019(하반기),창원시진해구,2019,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [50]:
for i in range(len(df_na)) :
    bb_nm = df_na['age'].iloc[i]
    bb = df_ba[(df_ba['jur_stn']==df_na['jur_stn'].iloc[i])&(df_ba['date']==df_na['date'].iloc[i])]
    bb[bb_nm] = df_na['single_person_hh'].iloc[i]
    df_ba['single_' + bb_nm].iloc[bb.index] = df_na['single_person_hh'].iloc[i]
df2 = df_ba
df2

<ipython-input-50-66de747aeedf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb[bb_nm] = df_na['single_person_hh'].iloc[i]
C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,jur_stn,year,sgg_nm,date,single_합계,single_20세 미만,single_20~24,single_25~29,single_30~34,single_35~39,single_40~44,single_45~49,single_50~54,single_55~59,single_60~64,single_65~69,single_70~74,single_75~79,single_80~84,single_85세 이상
0,서울중부경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
1,서울중부경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
2,서울중부경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
3,서울중부경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
4,서울중부경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3931,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,629,1825,1854,2008,1755,1901,1774,1929,2020,1520,1219,1137,829,516
3932,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,629,1825,1854,2008,1755,1901,1774,1929,2020,1520,1219,1137,829,516
3933,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,629,1825,1854,2008,1755,1901,1774,1929,2020,1520,1219,1137,829,516
3934,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,629,1825,1854,2008,1755,1901,1774,1929,2020,1520,1219,1137,829,516
3935,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,629,1825,1854,2008,1755,1901,1774,1929,2020,1520,1219,1137,829,516

In [51]:
df2.drop_duplicates(inplace=True)
df2

,jur_stn,year,sgg_nm,date,single_합계,single_20세 미만,single_20~24,single_25~29,single_30~34,single_35~39,single_40~44,single_45~49,single_50~54,single_55~59,single_60~64,single_65~69,single_70~74,single_75~79,single_80~84,single_85세 이상
0,서울중부경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
16,서울남대문경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
32,서울중부경찰서,2017(하반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
48,서울남대문경찰서,2017(하반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
64,서울종로경찰서,2017(상반기),종로구,2017,23638,507,2992,3627,2552,1796,1518,1723,1540,1660,1471,1151,1065,998,608,430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3856,마산동부경찰서,2019(하반기),창원시마산회원구,2019,20331,81,545,1038,982,1226,1213,1679,1899,2369,2768,2154,1716,1383,864,414
3872,진주경찰서,2019(상반기),진주시,2019,44003,670,4760,4668,3144,2606,2304,2907,3015,3656,3794,3067,2787,2896,2221,1508
3888,진주경찰서,2019(하반기),진주시,2019,44003,670,4760,4668,3144,2606,2304,2907,3015,3656,3794,3067,2787,2896,2221,1508
3904,진해경찰서,2019(상반기),창원시진해구,2019,20962,46,629,1825,1854,2008,1755,1901,1774,1929,2020,1520,1219,1137,829,516
3920,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,629,1825,1854,2008,1755,1901,1774,1929,2020,1520,1219,1137,829,516

In [52]:
df2['year'].value_counts()

2017(상반기)    41
2017(하반기)    41
2018(상반기)    41
2018(하반기)    41
2019(상반기)    41
2019(하반기)    41
Name: year, dtype: int64

In [60]:
df2['single_u20'] = df2['single_20세 미만']
df2['single_2030'] = df2['single_20~24'] + df2['single_25~29'] + df2['single_30~34'] + df2['single_35~39']
df2['single_4050'] = df2['single_40~44'] + df2['single_45~49'] + df2['single_50~54'] + df2['single_55~59']

In [62]:
df2['single_o60'] = df2['single_합계'] - df2['single_u20'] - df2['single_2030'] - df2['single_4050']
df2

,jur_stn,year,sgg_nm,date,single_합계,single_20세 미만,single_20~24,single_25~29,single_30~34,single_35~39,...,single_60~64,single_65~69,single_70~74,single_75~79,single_80~84,single_85세 이상,single_u20,single_2030,single_4050,single_o60
0,서울중부경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,...,1376,1097,882,912,519,349,499,8621,5909,5135
16,서울남대문경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,...,1376,1097,882,912,519,349,499,8621,5909,5135
32,서울중부경찰서,2017(하반기),중구,2017,20164,499,2097,2669,2169,1686,...,1376,1097,882,912,519,349,499,8621,5909,5135
48,서울남대문경찰서,2017(하반기),중구,2017,20164,499,2097,2669,2169,1686,...,1376,1097,882,912,519,349,499,8621,5909,5135
64,서울종로경찰서,2017(상반기),종로구,2017,23638,507,2992,3627,2552,1796,...,1471,1151,1065,998,608,430,507,10967,6441,5723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3856,마산동부경찰서,2019(하반기),창원시마산회원구,2019,20331,81,545,1038,982,1226,...,2768,2154,1716,1383,864,414,81,3791,7160,9299
3872,진주경찰서,2019(상반기),진주시,2019,44003,670,4760,4668,3144,2606,...,3794,3067,2787,2896,2221,1508,670,15178,11882,16273
3888,진주경찰서,2019(하반기),진주시,2019,44003,670,4760,4668,3144,2606,...,3794,3067,2787,2896,2221,1508,670,15178,11882,16273
3904,진해경찰서,2019(상반기),창원시진해구,2019,20962,46,629,1825,1854,2008,...,2020,1520,1219,1137,829,516,46,6316,7359,7241
3920,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,629,1825,1854,2008,...,2020,1520,1219,1137,829,516,46,6316,7359,7241

In [63]:
df2.columns

Index(['jur_stn', 'year', 'sgg_nm', 'date', 'single_합계', 'single_20세 미만',
       'single_20~24', 'single_25~29', 'single_30~34', 'single_35~39',
       'single_40~44', 'single_45~49', 'single_50~54', 'single_55~59',
       'single_60~64', 'single_65~69', 'single_70~74', 'single_75~79',
       'single_80~84', 'single_85세 이상', 'single_u20', 'single_2030',
       'single_4050', 'single_o60'],
      dtype='object')

In [64]:
df2.drop(columns = ['single_20세 미만',
       'single_20~24', 'single_25~29', 'single_30~34', 'single_35~39',
       'single_40~44', 'single_45~49', 'single_50~54', 'single_55~59',
       'single_60~64', 'single_65~69', 'single_70~74', 'single_75~79',
       'single_80~84', 'single_85세 이상'], inplace = True)

In [65]:
df2

,jur_stn,year,sgg_nm,date,single_합계,single_u20,single_2030,single_4050,single_o60
0,서울중부경찰서,2017(상반기),중구,2017,20164,499,8621,5909,5135
16,서울남대문경찰서,2017(상반기),중구,2017,20164,499,8621,5909,5135
32,서울중부경찰서,2017(하반기),중구,2017,20164,499,8621,5909,5135
48,서울남대문경찰서,2017(하반기),중구,2017,20164,499,8621,5909,5135
64,서울종로경찰서,2017(상반기),종로구,2017,23638,507,10967,6441,5723
...,...,...,...,...,...,...,...,...,...
3856,마산동부경찰서,2019(하반기),창원시마산회원구,2019,20331,81,3791,7160,9299
3872,진주경찰서,2019(상반기),진주시,2019,44003,670,15178,11882,16273
3888,진주경찰서,2019(하반기),진주시,2019,44003,670,15178,11882,16273
3904,진해경찰서,2019(상반기),창원시진해구,2019,20962,46,6316,7359,7241
3920,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,6316,7359,7241

In [55]:
df_nf = pd.merge(df_b, df_nf, on =['sgg_nm', 'date'])
df_bf = df_nf[['jur_stn', 'year', 'sgg_nm', 'date']]
df_bf

      jur_stn       year  sgg_nm  date
0     서울중부경찰서  2017(상반기)      중구  2017
1     서울중부경찰서  2017(상반기)      중구  2017
2     서울중부경찰서  2017(상반기)      중구  2017
3     서울중부경찰서  2017(상반기)      중구  2017
4     서울중부경찰서  2017(상반기)      중구  2017
...       ...        ...     ...   ...
3931    진해경찰서  2019(하반기)  창원시진해구  2019
3932    진해경찰서  2019(하반기)  창원시진해구  2019
3933    진해경찰서  2019(하반기)  창원시진해구  2019
3934    진해경찰서  2019(하반기)  창원시진해구  2019
3935    진해경찰서  2019(하반기)  창원시진해구  2019

[3936 rows x 4 columns]

In [56]:
for i in df_nf['age'].unique() :
    df_bf['single_f_'+i] = 0

<ipython-input-56-652090222bc0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bf['single_f_'+i] = 0

In [57]:
for i in range(len(df_nf)) :
    bb_nm = df_nf['age'].iloc[i]
    bb = df_bf[(df_bf['jur_stn']==df_nf['jur_stn'].iloc[i])&(df_bf['date']==df_nf['date'].iloc[i])]
    bb[bb_nm] = df_na['single_person_hh'].iloc[i]
    df_bf['single_f_' + bb_nm].iloc[bb.index] = df_nf['single_person_hh'].iloc[i]
df3 = df_bf
df3

<ipython-input-57-d1dd8cbbde8b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb[bb_nm] = df_na['single_person_hh'].iloc[i]
C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,jur_stn,year,sgg_nm,date,single_f_합계,single_f_20세 미만,single_f_20~24,single_f_25~29,single_f_30~34,single_f_35~39,single_f_40~44,single_f_45~49,single_f_50~54,single_f_55~59,single_f_60~64,single_f_65~69,single_f_70~74,single_f_75~79,single_f_80~84,single_f_85세 이상
0,서울중부경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
1,서울중부경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
2,서울중부경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
3,서울중부경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
4,서울중부경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3931,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,240,552,512,478,423,591,686,892,1149,926,853,900,671,432
3932,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,240,552,512,478,423,591,686,892,1149,926,853,900,671,432
3933,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,240,552,512,478,423,591,686,892,1149,926,853,900,671,432
3934,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,240,552,512,478,423,591,686,892,1149,926,853,900,671,432
3935,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,240,552,512,478,423,591,686,892,1149,926,853,900,671,432

In [58]:
df3.drop_duplicates(inplace=True)
df3

,jur_stn,year,sgg_nm,date,single_f_합계,single_f_20세 미만,single_f_20~24,single_f_25~29,single_f_30~34,single_f_35~39,single_f_40~44,single_f_45~49,single_f_50~54,single_f_55~59,single_f_60~64,single_f_65~69,single_f_70~74,single_f_75~79,single_f_80~84,single_f_85세 이상
0,서울중부경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
16,서울남대문경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
32,서울중부경찰서,2017(하반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
48,서울남대문경찰서,2017(하반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
64,서울종로경찰서,2017(상반기),종로구,2017,12044,316,1854,1545,1178,829,694,741,609,713,715,649,693,711,462,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3856,마산동부경찰서,2019(하반기),창원시마산회원구,2019,10643,42,327,440,353,376,405,598,799,1137,1571,1333,1171,1049,694,348
3872,진주경찰서,2019(상반기),진주시,2019,23362,308,2268,1761,1062,935,849,1119,1370,1867,2225,1994,2069,2358,1877,1300
3888,진주경찰서,2019(하반기),진주시,2019,23362,308,2268,1761,1062,935,849,1119,1370,1867,2225,1994,2069,2358,1877,1300
3904,진해경찰서,2019(상반기),창원시진해구,2019,9331,26,240,552,512,478,423,591,686,892,1149,926,853,900,671,432
3920,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,240,552,512,478,423,591,686,892,1149,926,853,900,671,432

In [59]:
df3['year'].value_counts()

2017(상반기)    41
2017(하반기)    41
2018(상반기)    41
2018(하반기)    41
2019(상반기)    41
2019(하반기)    41
Name: year, dtype: int64

In [66]:
df3['single_f_u20'] = df3['single_f_20세 미만']
df3['single_f_2030'] = df3['single_f_20~24'] + df3['single_f_25~29'] + df3['single_f_30~34'] + df3['single_f_35~39']
df3['single_f_4050'] = df3['single_f_40~44'] + df3['single_f_45~49'] + df3['single_f_50~54'] + df3['single_f_55~59']

In [67]:
df3['single_f_o60'] = df3['single_f_합계'] - df3['single_f_u20'] - df3['single_f_2030'] - df3['single_f_4050']
df3

,jur_stn,year,sgg_nm,date,single_f_합계,single_f_20세 미만,single_f_20~24,single_f_25~29,single_f_30~34,single_f_35~39,...,single_f_60~64,single_f_65~69,single_f_70~74,single_f_75~79,single_f_80~84,single_f_85세 이상,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,...,659,632,603,694,405,278,350,4256,2461,3271
16,서울남대문경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,...,659,632,603,694,405,278,350,4256,2461,3271
32,서울중부경찰서,2017(하반기),중구,2017,10338,350,1302,1250,934,770,...,659,632,603,694,405,278,350,4256,2461,3271
48,서울남대문경찰서,2017(하반기),중구,2017,10338,350,1302,1250,934,770,...,659,632,603,694,405,278,350,4256,2461,3271
64,서울종로경찰서,2017(상반기),종로구,2017,12044,316,1854,1545,1178,829,...,715,649,693,711,462,335,316,5406,2757,3565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3856,마산동부경찰서,2019(하반기),창원시마산회원구,2019,10643,42,327,440,353,376,...,1571,1333,1171,1049,694,348,42,1496,2939,6166
3872,진주경찰서,2019(상반기),진주시,2019,23362,308,2268,1761,1062,935,...,2225,1994,2069,2358,1877,1300,308,6026,5205,11823
3888,진주경찰서,2019(하반기),진주시,2019,23362,308,2268,1761,1062,935,...,2225,1994,2069,2358,1877,1300,308,6026,5205,11823
3904,진해경찰서,2019(상반기),창원시진해구,2019,9331,26,240,552,512,478,...,1149,926,853,900,671,432,26,1782,2592,4931
3920,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,240,552,512,478,...,1149,926,853,900,671,432,26,1782,2592,4931

In [68]:
df3.columns

Index(['jur_stn', 'year', 'sgg_nm', 'date', 'single_f_합계', 'single_f_20세 미만',
       'single_f_20~24', 'single_f_25~29', 'single_f_30~34', 'single_f_35~39',
       'single_f_40~44', 'single_f_45~49', 'single_f_50~54', 'single_f_55~59',
       'single_f_60~64', 'single_f_65~69', 'single_f_70~74', 'single_f_75~79',
       'single_f_80~84', 'single_f_85세 이상', 'single_f_u20', 'single_f_2030',
       'single_f_4050', 'single_f_o60'],
      dtype='object')

In [70]:
df3.drop(columns = ['single_f_20세 미만',
       'single_f_20~24', 'single_f_25~29', 'single_f_30~34', 'single_f_35~39',
       'single_f_40~44', 'single_f_45~49', 'single_f_50~54', 'single_f_55~59',
       'single_f_60~64', 'single_f_65~69', 'single_f_70~74', 'single_f_75~79',
       'single_f_80~84', 'single_f_85세 이상'], inplace = True)

In [71]:
df3

,jur_stn,year,sgg_nm,date,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2017(상반기),중구,2017,10338,350,4256,2461,3271
16,서울남대문경찰서,2017(상반기),중구,2017,10338,350,4256,2461,3271
32,서울중부경찰서,2017(하반기),중구,2017,10338,350,4256,2461,3271
48,서울남대문경찰서,2017(하반기),중구,2017,10338,350,4256,2461,3271
64,서울종로경찰서,2017(상반기),종로구,2017,12044,316,5406,2757,3565
...,...,...,...,...,...,...,...,...,...
3856,마산동부경찰서,2019(하반기),창원시마산회원구,2019,10643,42,1496,2939,6166
3872,진주경찰서,2019(상반기),진주시,2019,23362,308,6026,5205,11823
3888,진주경찰서,2019(하반기),진주시,2019,23362,308,6026,5205,11823
3904,진해경찰서,2019(상반기),창원시진해구,2019,9331,26,1782,2592,4931
3920,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,1782,2592,4931

In [73]:
df4 = pd.merge(left = df2, right = df3, how = 'left', on = ['jur_stn', 'year'])

In [74]:
df4

,jur_stn,year,sgg_nm_x,date_x,single_합계,single_u20,single_2030,single_4050,single_o60,sgg_nm_y,date_y,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2017(상반기),중구,2017,20164,499,8621,5909,5135,중구,2017,10338,350,4256,2461,3271
1,서울남대문경찰서,2017(상반기),중구,2017,20164,499,8621,5909,5135,중구,2017,10338,350,4256,2461,3271
2,서울중부경찰서,2017(하반기),중구,2017,20164,499,8621,5909,5135,중구,2017,10338,350,4256,2461,3271
3,서울남대문경찰서,2017(하반기),중구,2017,20164,499,8621,5909,5135,중구,2017,10338,350,4256,2461,3271
4,서울종로경찰서,2017(상반기),종로구,2017,23638,507,10967,6441,5723,종로구,2017,12044,316,5406,2757,3565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,마산동부경찰서,2019(하반기),창원시마산회원구,2019,20331,81,3791,7160,9299,창원시마산회원구,2019,10643,42,1496,2939,6166
242,진주경찰서,2019(상반기),진주시,2019,44003,670,15178,11882,16273,진주시,2019,23362,308,6026,5205,11823
243,진주경찰서,2019(하반기),진주시,2019,44003,670,15178,11882,16273,진주시,2019,23362,308,6026,5205,11823
244,진해경찰서,2019(상반기),창원시진해구,2019,20962,46,6316,7359,7241,창원시진해구,2019,9331,26,1782,2592,4931
245,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,6316,7359,7241,창원시진해구,2019,9331,26,1782,2592,4931

In [75]:
df4.drop(columns = ['sgg_nm_x', 'date_x', 'sgg_nm_y', 'date_y'], inplace = True)
df4

,jur_stn,year,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2017(상반기),20164,499,8621,5909,5135,10338,350,4256,2461,3271
1,서울남대문경찰서,2017(상반기),20164,499,8621,5909,5135,10338,350,4256,2461,3271
2,서울중부경찰서,2017(하반기),20164,499,8621,5909,5135,10338,350,4256,2461,3271
3,서울남대문경찰서,2017(하반기),20164,499,8621,5909,5135,10338,350,4256,2461,3271
4,서울종로경찰서,2017(상반기),23638,507,10967,6441,5723,12044,316,5406,2757,3565
...,...,...,...,...,...,...,...,...,...,...,...,...
241,마산동부경찰서,2019(하반기),20331,81,3791,7160,9299,10643,42,1496,2939,6166
242,진주경찰서,2019(상반기),44003,670,15178,11882,16273,23362,308,6026,5205,11823
243,진주경찰서,2019(하반기),44003,670,15178,11882,16273,23362,308,6026,5205,11823
244,진해경찰서,2019(상반기),20962,46,6316,7359,7241,9331,26,1782,2592,4931
245,진해경찰서,2019(하반기),20962,46,6316,7359,7241,9331,26,1782,2592,4931

In [76]:
df4.to_csv('최종전.csv')

In [78]:
df4_n = df4

In [79]:
# 행정구역을 여러 경찰서가 담당하는 경우 그 수만큼 인구를 나눠줌
'''
for i in range(0, 3):
    df4_n.iloc[0 + 82 * i, 2:] = df4_n.iloc[0 + 82 * i, 2:] / 2
    df4_n.iloc[1 + 82 * i, 2:] = df4_n.iloc[1 + 82 * i, 2:] / 2
    df4_n.iloc[2 + 82 * i, 2:] = df4_n.iloc[2 + 82 * i, 2:] / 2
    df4_n.iloc[3 + 82 * i, 2:] = df4_n.iloc[3 + 82 * i, 2:] / 2 # 중구

    df4_n.iloc[4 + 82 * i, 2:] = df4_n.iloc[4 + 82 * i, 2:] / 2
    df4_n.iloc[5 + 82 * i, 2:] = df4_n.iloc[5 + 82 * i, 2:] / 2
    df4_n.iloc[6 + 82 * i, 2:] = df4_n.iloc[6 + 82 * i, 2:] / 2
    df4_n.iloc[7 + 82 * i, 2:] = df4_n.iloc[7 + 82 * i, 2:] / 2 # 종로구

    df4_n.iloc[12 + 82 * i, 2:] = df4_n.iloc[12 + 82 * i, 2:] / 2
    df4_n.iloc[13 + 82 * i, 2:] = df4_n.iloc[13 + 82 * i, 2:] / 2
    df4_n.iloc[14 + 82 * i, 2:] = df4_n.iloc[14 + 82 * i, 2:] / 2
    df4_n.iloc[15 + 82 * i, 2:] = df4_n.iloc[15 + 82 * i, 2:] / 2 # 성북구

    df4_n.iloc[28 + 82 * i, 2:] = df4_n.iloc[28 + 82 * i, 2:] / 2
    df4_n.iloc[29 + 82 * i, 2:] = df4_n.iloc[29 + 82 * i, 2:] / 2
    df4_n.iloc[30 + 82 * i, 2:] = df4_n.iloc[30 + 82 * i, 2:] / 2
    df4_n.iloc[31 + 82 * i, 2:] = df4_n.iloc[31 + 82 * i, 2:] / 2 # 은평구

    df4_n.iloc[50 + 82 * i, 2:] = df4_n.iloc[50 + 82 * i, 2:] / 2
    df4_n.iloc[51 + 82 * i, 2:] = df4_n.iloc[51 + 82 * i, 2:] / 2
    df4_n.iloc[52 + 82 * i, 2:] = df4_n.iloc[52 + 82 * i, 2:] / 2
    df4_n.iloc[53 + 82 * i, 2:] = df4_n.iloc[53 + 82 * i, 2:] / 2 # 서초구

    df4_n.iloc[38 + 82 * i, 2:] = df4_n.iloc[38 + 82 * i, 2:] / 2
    df4_n.iloc[39 + 82 * i, 2:] = df4_n.iloc[39 + 82 * i, 2:] / 2
    df4_n.iloc[40 + 82 * i, 2:] = df4_n.iloc[40 + 82 * i, 2:] / 2
    df4_n.iloc[41 + 82 * i, 2:] = df4_n.iloc[41 + 82 * i, 2:] / 2 # 강남구
'''

In [87]:
df4_n.to_csv('15번.1인가구_processed.csv', index = False)

In [82]:
df_b = pd.read_csv('base_df.csv')
df_b

      jur_stn       year
0     서울중부경찰서   2016(이전)
1     서울종로경찰서   2016(이전)
2    서울남대문경찰서   2016(이전)
3    서울서대문경찰서   2016(이전)
4     서울혜화경찰서   2016(이전)
..        ...        ...
364   창원서부경찰서  2020(하반기)
365   마산중부경찰서  2020(하반기)
366   마산동부경찰서  2020(하반기)
367     진주경찰서  2020(하반기)
368     진해경찰서  2020(하반기)

[369 rows x 2 columns]

In [83]:
df_b = pd.merge(left = df_b, right = df4_n, how = 'left', on = ['jur_stn', 'year'])
df_b

,jur_stn,year,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,서울종로경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,서울남대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울서대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울혜화경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
364,창원서부경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,마산중부경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,마산동부경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,진주경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,진해경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
df_b.to_csv('15번.1인가구_total.csv', index = False)

In [88]:
df_b.columns

Index(['jur_stn', 'year', 'single_합계', 'single_u20', 'single_2030',
       'single_4050', 'single_o60', 'single_f_합계', 'single_f_u20',
       'single_f_2030', 'single_f_4050', 'single_f_o60'],
      dtype='object')