### 1인가구

- single_합계: 전체 1인가구수
- single_u20: 20세 미만 1인가구수
- single_2030: 2030대 1인가구수
- single_4050: 4050대 1인가구수
- single_o60: 60세 이상 1인가구수
- single_f_합계: 전체 여성 1인가구수
- single_f_u20: 20세 미만 여성 1인가구수
- single_f_2030: 2030대 여성 1인가구수
- single_f_4050: 4050대 여성 1인가구수
- single_f_o60: 60세 이상 여성 1인가구수

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt

In [56]:
df_b = pd.read_csv('base_df.csv')
df = pd.read_csv('report.txt', sep = '\t')

In [58]:
df_a = df[df['성별'].isin(['계'])]
df_f = df[df['성별'].isin(['여자'])]

In [59]:
df_a

,기간,구분,성별,합계,20세미만,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85세이상
0,2020,합계,계,"1,390,701","14,185","123,990","238,517","183,573","126,485","91,518","90,186","82,704","84,976","94,834","77,047","65,469","54,109","37,968","25,140"
3,2020,종로구,계,"25,983",398,"3,331","4,111","2,923","1,981","1,516","1,743","1,612","1,744","1,727","1,337","1,156","1,108",749,547
6,2020,중구,계,"22,818",435,"2,250","3,232","2,698","1,975","1,466","1,527","1,541","1,539","1,629","1,372","1,119",897,687,451
9,2020,용산구,계,"36,881",457,"2,663","5,646","5,550","4,110","2,903","2,629","2,245","2,129","2,154","1,723","1,450","1,334","1,106",782
12,2020,성동구,계,"42,585",753,"4,850","7,052","5,008","3,709","2,790","2,864","2,707","2,641","2,850","2,170","1,748","1,600","1,167",676
15,2020,광진구,계,"62,301",562,"7,283","13,249","8,991","5,692","3,968","3,600","3,534","3,576","3,646","2,650","2,080","1,688","1,084",698
18,2020,동대문구,계,"60,925","1,527","10,567","10,639","6,001","4,058","3,222","3,316","3,199","3,417","3,907","3,209","2,812","2,425","1,630",996
21,2020,중랑구,계,"56,605",206,"2,361","6,577","5,840","4,551","3,734","4,170","4,738","5,514","5,634","4,398","3,362","2,713","1,717","1,090"
24,2020,성북구,계,"61,510","1,931","11,271","9,696","5,663","3,971","3,167","3,410","3,379","3,335","3,916","3,160","2,882","2,574","1,898","1,257"
27,2020,강북구,계,"45,685",288,"3,037","4,894","3,695","3,016","2,788","3,276","3,479","3,999","4,509","3,754","3,274","2,910","1,778",988
30,2020,도봉구,계,"34,884",196,"1,612","2,816","2,536","2,427","2,217","2,632","2,814","3,193","3,735","2,957","2,604","2,273","1,748","1,124"
33,2020,노원구,계,"56,438",590,"5,554","5,204","3,900","3,530","3,164","3,700","3,764","4,025","5,269","4,757","4,359","3,924","2,779","1,919"
36,2020,은평구,계,"57,853",235,"2,967","7,707","6,490","5,182","3,982","4,294","3,853","4,116","5,007","3,999","3,615","3,054","2,126","1,226"
39,2020,서대문구,계,"49,863",988,"8,945","8,982","5,420","3,587","2,629","2,682","2,465","2,522","2,744","2,323","2,138","1,954","1,539",945
42,2020,마포구,계,"63,172",663,"6,993","13,204","10,088","6,872","4,516","4,053","2,967","2,576","2,671","2,199","2,099","1,922","1,416",933
45,2020,양천구,계,"39,436",144,"1,250","4,031","3,987","3,344","2,695","2,967","2,853","3,346","3,972","3,382","2,698","2,109","1,587","1,071"
48,2020,강서구,계,"86,172",336,"4,442","15,643","13,177","8,898","5,919","5,333","4,775","5,080","6,275","5,142","4,101","3,138","2,226","1,687"
51,2020,구로구,계,"50,971",232,"2,675","7,671","6,607","4,631","3,457","3,812","3,447","3,668","3,952","3,271","2,785","2,187","1,610",966
54,2020,금천구,계,"42,334",139,"2,288","7,518","5,718","3,615","2,607","2,842","3,178","3,427","3,383","2,470","1,957","1,565","1,006",621
57,2020,영등포구,계,"64,000",189,"3,622","13,418","11,074","6,350","4,144","4,066","3,583","3,674","3,844","2,955","2,513","2,048","1,497","1,023"
60,2020,동작구,계,"64,101","1,261","8,592","14,153","9,131","5,246","3,606","3,322","2,849","2,774","3,244","2,813","2,585","2,055","1,488",982
63,2020,관악구,계,"129,233","1,121","15,893","36,331","21,802","11,342","7,063","6,273","5,345","5,066","5,321","4,163","3,553","2,914","1,946","1,100"
66,2020,서초구,계,"43,942",600,"2,884","6,560","7,187","5,366","3,703","3,377","2,697","2,237","2,440","2,125","1,800","1,342",903,721
69,2020,강남구,계,"68,999",498,"3,590","11,221","12,034","9,433","6,373","5,181","3,700","3,152","3,482","3,061","2,697","2,061","1,343","1,173"
72,2020,송파구,계,"73,694",284,"3,099","11,972","11,929","8,942","6,143","5,334","4,388","4,341","4,938","3,994","3,273","2,295","1,553","1,209"
75,2020,강동구,계,"50,316",152,"1,971","6,990","6,124","4,657","3,746","3,783","3,592","3,885","4,585","3,663","2,809","2,019","1,385",955

In [61]:
df_a.columns[3:]

Index(['합계', '20세미만', '20~24세', '25~29세', '30~34세', '35~39세', '40~44세',
       '45~49세', '50~54세', '55~59세', '60~64세', '65~69세', '70~74세', '75~79세',
       '80~84세', '85세이상'],
      dtype='object')

In [63]:
for i in df_a.columns[3:]:
    df_a[i] = df_a[i].str.replace(',', '')
    df_a[i] = df_a[i].astype('int')

AttributeError: Can only use .str accessor with string values!

In [64]:
df_a

,기간,구분,성별,합계,20세미만,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85세이상
0,2020,합계,계,1390701,14185,123990,238517,183573,126485,91518,90186,82704,84976,94834,77047,65469,54109,37968,25140
3,2020,종로구,계,25983,398,3331,4111,2923,1981,1516,1743,1612,1744,1727,1337,1156,1108,749,547
6,2020,중구,계,22818,435,2250,3232,2698,1975,1466,1527,1541,1539,1629,1372,1119,897,687,451
9,2020,용산구,계,36881,457,2663,5646,5550,4110,2903,2629,2245,2129,2154,1723,1450,1334,1106,782
12,2020,성동구,계,42585,753,4850,7052,5008,3709,2790,2864,2707,2641,2850,2170,1748,1600,1167,676
15,2020,광진구,계,62301,562,7283,13249,8991,5692,3968,3600,3534,3576,3646,2650,2080,1688,1084,698
18,2020,동대문구,계,60925,1527,10567,10639,6001,4058,3222,3316,3199,3417,3907,3209,2812,2425,1630,996
21,2020,중랑구,계,56605,206,2361,6577,5840,4551,3734,4170,4738,5514,5634,4398,3362,2713,1717,1090
24,2020,성북구,계,61510,1931,11271,9696,5663,3971,3167,3410,3379,3335,3916,3160,2882,2574,1898,1257
27,2020,강북구,계,45685,288,3037,4894,3695,3016,2788,3276,3479,3999,4509,3754,3274,2910,1778,988
30,2020,도봉구,계,34884,196,1612,2816,2536,2427,2217,2632,2814,3193,3735,2957,2604,2273,1748,1124
33,2020,노원구,계,56438,590,5554,5204,3900,3530,3164,3700,3764,4025,5269,4757,4359,3924,2779,1919
36,2020,은평구,계,57853,235,2967,7707,6490,5182,3982,4294,3853,4116,5007,3999,3615,3054,2126,1226
39,2020,서대문구,계,49863,988,8945,8982,5420,3587,2629,2682,2465,2522,2744,2323,2138,1954,1539,945
42,2020,마포구,계,63172,663,6993,13204,10088,6872,4516,4053,2967,2576,2671,2199,2099,1922,1416,933
45,2020,양천구,계,39436,144,1250,4031,3987,3344,2695,2967,2853,3346,3972,3382,2698,2109,1587,1071
48,2020,강서구,계,86172,336,4442,15643,13177,8898,5919,5333,4775,5080,6275,5142,4101,3138,2226,1687
51,2020,구로구,계,50971,232,2675,7671,6607,4631,3457,3812,3447,3668,3952,3271,2785,2187,1610,966
54,2020,금천구,계,42334,139,2288,7518,5718,3615,2607,2842,3178,3427,3383,2470,1957,1565,1006,621
57,2020,영등포구,계,64000,189,3622,13418,11074,6350,4144,4066,3583,3674,3844,2955,2513,2048,1497,1023
60,2020,동작구,계,64101,1261,8592,14153,9131,5246,3606,3322,2849,2774,3244,2813,2585,2055,1488,982
63,2020,관악구,계,129233,1121,15893,36331,21802,11342,7063,6273,5345,5066,5321,4163,3553,2914,1946,1100
66,2020,서초구,계,43942,600,2884,6560,7187,5366,3703,3377,2697,2237,2440,2125,1800,1342,903,721
69,2020,강남구,계,68999,498,3590,11221,12034,9433,6373,5181,3700,3152,3482,3061,2697,2061,1343,1173
72,2020,송파구,계,73694,284,3099,11972,11929,8942,6143,5334,4388,4341,4938,3994,3273,2295,1553,1209
75,2020,강동구,계,50316,152,1971,6990,6124,4657,3746,3783,3592,3885,4585,3663,2809,2019,1385,955

In [65]:
for i in df_f.columns[3:]:
    df_f[i] = df_f[i].str.replace(',', '')
    df_f[i] = df_f[i].astype('int')

<ipython-input-65-a42f85f408a7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f[i] = df_f[i].str.replace(',', '')
<ipython-input-65-a42f85f408a7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f[i] = df_f[i].astype('int')

In [66]:
df_a = df_a[1:]

In [67]:
df_f = df_f[1:]

In [68]:
df_b

      jur_stn       year
0     서울중부경찰서   2016(이전)
1     서울종로경찰서   2016(이전)
2    서울남대문경찰서   2016(이전)
3    서울서대문경찰서   2016(이전)
4     서울혜화경찰서   2016(이전)
..        ...        ...
364   창원서부경찰서  2020(하반기)
365   마산중부경찰서  2020(하반기)
366   마산동부경찰서  2020(하반기)
367     진주경찰서  2020(하반기)
368     진해경찰서  2020(하반기)

[369 rows x 2 columns]

In [69]:
df_a['single_합계'] =

SyntaxError: invalid syntax (<ipython-input-69-5d38e8ed17f5>, line 1)

In [70]:
df_a['single_합계'] = df_a['합계']
df_a['single_u20'] = df_a['20세미만']
df_a['single_2030'] = df_a['20~24세'] + df_a['25~29세'] + df_a['30~34세'] + df_a['35~39세']
df_a['single_4050'] = df_a['40~44세'] + df_a['45~49세'] + df_a['50~54세'] + df_a['55~59세']

<ipython-input-70-e7e8977b3a41>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_a['single_합계'] = df_a['합계']
<ipython-input-70-e7e8977b3a41>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_a['single_u20'] = df_a['20세미만']
<ipython-input-70-e7e8977b3a41>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_a['single_2030'] = df_a['20~24세'] + df_a['25~29세'] + df_a['30~34세'] + df_a['35~39세']
<ipython-input-70-e7e8977b3a41>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_a['single_4050'] = df_a['40~44세'] + df_a['45~49세'] + df_a['50~54세'] + df_a['55~59세']

In [71]:
df_a['single_o60'] = df_a['합계'] - df_a['single_u20'] - df_a['single_2030'] - df_a['single_4050']

<ipython-input-71-ac96fac54e8e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_a['single_o60'] = df_a['합계'] - df_a['single_u20'] - df_a['single_2030'] - df_a['single_4050']

In [72]:
df_a

,기간,구분,성별,합계,20세미만,20~24세,25~29세,30~34세,35~39세,40~44세,...,65~69세,70~74세,75~79세,80~84세,85세이상,single_합계,single_u20,single_2030,single_4050,single_o60
3,2020,종로구,계,25983,398,3331,4111,2923,1981,1516,...,1337,1156,1108,749,547,25983,398,12346,6615,6624
6,2020,중구,계,22818,435,2250,3232,2698,1975,1466,...,1372,1119,897,687,451,22818,435,10155,6073,6155
9,2020,용산구,계,36881,457,2663,5646,5550,4110,2903,...,1723,1450,1334,1106,782,36881,457,17969,9906,8549
12,2020,성동구,계,42585,753,4850,7052,5008,3709,2790,...,2170,1748,1600,1167,676,42585,753,20619,11002,10211
15,2020,광진구,계,62301,562,7283,13249,8991,5692,3968,...,2650,2080,1688,1084,698,62301,562,35215,14678,11846
18,2020,동대문구,계,60925,1527,10567,10639,6001,4058,3222,...,3209,2812,2425,1630,996,60925,1527,31265,13154,14979
21,2020,중랑구,계,56605,206,2361,6577,5840,4551,3734,...,4398,3362,2713,1717,1090,56605,206,19329,18156,18914
24,2020,성북구,계,61510,1931,11271,9696,5663,3971,3167,...,3160,2882,2574,1898,1257,61510,1931,30601,13291,15687
27,2020,강북구,계,45685,288,3037,4894,3695,3016,2788,...,3754,3274,2910,1778,988,45685,288,14642,13542,17213
30,2020,도봉구,계,34884,196,1612,2816,2536,2427,2217,...,2957,2604,2273,1748,1124,34884,196,9391,10856,14441
33,2020,노원구,계,56438,590,5554,5204,3900,3530,3164,...,4757,4359,3924,2779,1919,56438,590,18188,14653,23007
36,2020,은평구,계,57853,235,2967,7707,6490,5182,3982,...,3999,3615,3054,2126,1226,57853,235,22346,16245,19027
39,2020,서대문구,계,49863,988,8945,8982,5420,3587,2629,...,2323,2138,1954,1539,945,49863,988,26934,10298,11643
42,2020,마포구,계,63172,663,6993,13204,10088,6872,4516,...,2199,2099,1922,1416,933,63172,663,37157,14112,11240
45,2020,양천구,계,39436,144,1250,4031,3987,3344,2695,...,3382,2698,2109,1587,1071,39436,144,12612,11861,14819
48,2020,강서구,계,86172,336,4442,15643,13177,8898,5919,...,5142,4101,3138,2226,1687,86172,336,42160,21107,22569
51,2020,구로구,계,50971,232,2675,7671,6607,4631,3457,...,3271,2785,2187,1610,966,50971,232,21584,14384,14771
54,2020,금천구,계,42334,139,2288,7518,5718,3615,2607,...,2470,1957,1565,1006,621,42334,139,19139,12054,11002
57,2020,영등포구,계,64000,189,3622,13418,11074,6350,4144,...,2955,2513,2048,1497,1023,64000,189,34464,15467,13880
60,2020,동작구,계,64101,1261,8592,14153,9131,5246,3606,...,2813,2585,2055,1488,982,64101,1261,37122,12551,13167
63,2020,관악구,계,129233,1121,15893,36331,21802,11342,7063,...,4163,3553,2914,1946,1100,129233,1121,85368,23747,18997
66,2020,서초구,계,43942,600,2884,6560,7187,5366,3703,...,2125,1800,1342,903,721,43942,600,21997,12014,9331
69,2020,강남구,계,68999,498,3590,11221,12034,9433,6373,...,3061,2697,2061,1343,1173,68999,498,36278,18406,13817
72,2020,송파구,계,73694,284,3099,11972,11929,8942,6143,...,3994,3273,2295,1553,1209,73694,284,35942,20206,17262
75,2020,강동구,계,50316,152,1971,6990,6124,4657,3746,...,3663,2809,2019,1385,955,50316,152,19742,15006,15416

In [73]:
df_f['single_f_합계'] = df_f['합계']
df_f['single_f_u20'] = df_f['20세미만']
df_f['single_f_2030'] = df_f['20~24세'] + df_f['25~29세'] + df_f['30~34세'] + df_f['35~39세']
df_f['single_f_4050'] = df_f['40~44세'] + df_f['45~49세'] + df_f['50~54세'] + df_f['55~59세']

In [74]:
df_f['single_f_o60'] = df_f['합계'] - df_f['single_f_u20'] - df_f['single_f_2030'] - df_f['single_f_4050']

In [75]:
df_f.columns

Index(['기간', '구분', '성별', '합계', '20세미만', '20~24세', '25~29세', '30~34세', '35~39세',
       '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세', '70~74세',
       '75~79세', '80~84세', '85세이상', 'single_f_합계', 'single_f_u20',
       'single_f_2030', 'single_f_4050', 'single_f_o60'],
      dtype='object')

In [76]:
df_f.drop(columns = ['합계', '20세미만', '20~24세', '25~29세', '30~34세', '35~39세',
       '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세', '70~74세',
       '75~79세', '80~84세', '85세이상', '성별'], inplace = True)

In [77]:
df_a.drop(columns = ['합계', '20세미만', '20~24세', '25~29세', '30~34세', '35~39세',
       '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세', '70~74세',
       '75~79세', '80~84세', '85세이상', '성별'], inplace = True)

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [78]:
df_af = pd.merge(df_a, df_f, on =['구분', '기간'])

In [79]:
df_af

,기간,구분,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,2020,종로구,25983,398,12346,6615,6624,13320,264,6201,2847,4008
1,2020,중구,22818,435,10155,6073,6155,11797,295,5235,2532,3735
2,2020,용산구,36881,457,17969,9906,8549,20001,412,9516,4393,5680
3,2020,성동구,42585,753,20619,11002,10211,21711,434,9957,4600,6720
4,2020,광진구,62301,562,35215,14678,11846,32731,341,18498,6268,7624
5,2020,동대문구,60925,1527,31265,13154,14979,30686,938,15179,5076,9493
6,2020,중랑구,56605,206,19329,18156,18914,28537,124,9522,7019,11872
7,2020,성북구,61510,1931,30601,13291,15687,34281,1291,16209,5836,10945
8,2020,강북구,45685,288,14642,13542,17213,24727,224,7550,5658,11295
9,2020,도봉구,34884,196,9391,10856,14441,19446,158,4772,4882,9634
10,2020,노원구,56438,590,18188,14653,23007,32737,408,8735,7129,16465
11,2020,은평구,57853,235,22346,16245,19027,32632,150,11824,7552,13106
12,2020,서대문구,49863,988,26934,10298,11643,28504,757,14823,4774,8150
13,2020,마포구,63172,663,37157,14112,11240,35908,368,20454,6970,8116
14,2020,양천구,39436,144,12612,11861,14819,21378,77,6012,5210,10079
15,2020,강서구,86172,336,42160,21107,22569,47034,203,22366,9340,15125
16,2020,구로구,50971,232,21584,14384,14771,25886,112,10463,5564,9747
17,2020,금천구,42334,139,19139,12054,11002,19487,86,8406,4288,6707
18,2020,영등포구,64000,189,34464,15467,13880,31901,116,16995,5951,8839
19,2020,동작구,64101,1261,37122,12551,13167,33774,630,18412,5445,9287
20,2020,관악구,129233,1121,85368,23747,18997,61568,553,40065,8598,12352
21,2020,서초구,43942,600,21997,12014,9331,24800,392,11835,5951,6622
22,2020,강남구,68999,498,36278,18406,13817,39553,252,20361,9144,9796
23,2020,송파구,73694,284,35942,20206,17262,40804,159,19351,9449,11845
24,2020,강동구,50316,152,19742,15006,15416,26499,96,10117,6289,9997

In [83]:
df_b

      jur_stn       year    sgg_nm  date
0     서울중부경찰서   2016(이전)        중구  2016
1     서울종로경찰서   2016(이전)       종로구  2016
2    서울남대문경찰서   2016(이전)        중구  2016
3    서울서대문경찰서   2016(이전)      서대문구  2016
4     서울혜화경찰서   2016(이전)       종로구  2016
..        ...        ...       ...   ...
364   창원서부경찰서  2020(하반기)    창원시의창구  2020
365   마산중부경찰서  2020(하반기)  창원시마산합포구  2020
366   마산동부경찰서  2020(하반기)  창원시마산회원구  2020
367     진주경찰서  2020(하반기)       진주시  2020
368     진해경찰서  2020(하반기)    창원시진해구  2020

[369 rows x 4 columns]

In [89]:
df_af.rename(columns={'기간':'date'}, inplace = True)
df_af.rename(columns={'구분':'sgg_nm'}, inplace = True)

In [90]:
df_af

,date,sgg_nm,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,2020,종로구,25983,398,12346,6615,6624,13320,264,6201,2847,4008
1,2020,중구,22818,435,10155,6073,6155,11797,295,5235,2532,3735
2,2020,용산구,36881,457,17969,9906,8549,20001,412,9516,4393,5680
3,2020,성동구,42585,753,20619,11002,10211,21711,434,9957,4600,6720
4,2020,광진구,62301,562,35215,14678,11846,32731,341,18498,6268,7624
5,2020,동대문구,60925,1527,31265,13154,14979,30686,938,15179,5076,9493
6,2020,중랑구,56605,206,19329,18156,18914,28537,124,9522,7019,11872
7,2020,성북구,61510,1931,30601,13291,15687,34281,1291,16209,5836,10945
8,2020,강북구,45685,288,14642,13542,17213,24727,224,7550,5658,11295
9,2020,도봉구,34884,196,9391,10856,14441,19446,158,4772,4882,9634
10,2020,노원구,56438,590,18188,14653,23007,32737,408,8735,7129,16465
11,2020,은평구,57853,235,22346,16245,19027,32632,150,11824,7552,13106
12,2020,서대문구,49863,988,26934,10298,11643,28504,757,14823,4774,8150
13,2020,마포구,63172,663,37157,14112,11240,35908,368,20454,6970,8116
14,2020,양천구,39436,144,12612,11861,14819,21378,77,6012,5210,10079
15,2020,강서구,86172,336,42160,21107,22569,47034,203,22366,9340,15125
16,2020,구로구,50971,232,21584,14384,14771,25886,112,10463,5564,9747
17,2020,금천구,42334,139,19139,12054,11002,19487,86,8406,4288,6707
18,2020,영등포구,64000,189,34464,15467,13880,31901,116,16995,5951,8839
19,2020,동작구,64101,1261,37122,12551,13167,33774,630,18412,5445,9287
20,2020,관악구,129233,1121,85368,23747,18997,61568,553,40065,8598,12352
21,2020,서초구,43942,600,21997,12014,9331,24800,392,11835,5951,6622
22,2020,강남구,68999,498,36278,18406,13817,39553,252,20361,9144,9796
23,2020,송파구,73694,284,35942,20206,17262,40804,159,19351,9449,11845
24,2020,강동구,50316,152,19742,15006,15416,26499,96,10117,6289,9997

In [91]:
df_na = pd.merge(df_b, df_af, on =['sgg_nm', 'date'])
df_na

,jur_stn,year,sgg_nm,date,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2020(상반기),중구,2020,22818,435,10155,6073,6155,11797,295,5235,2532,3735
1,서울남대문경찰서,2020(상반기),중구,2020,22818,435,10155,6073,6155,11797,295,5235,2532,3735
2,서울중부경찰서,2020(하반기),중구,2020,22818,435,10155,6073,6155,11797,295,5235,2532,3735
3,서울남대문경찰서,2020(하반기),중구,2020,22818,435,10155,6073,6155,11797,295,5235,2532,3735
4,서울종로경찰서,2020(상반기),종로구,2020,25983,398,12346,6615,6624,13320,264,6201,2847,4008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,서울송파경찰서,2020(하반기),송파구,2020,73694,284,35942,20206,17262,40804,159,19351,9449,11845
58,서울노원경찰서,2020(상반기),노원구,2020,56438,590,18188,14653,23007,32737,408,8735,7129,16465
59,서울노원경찰서,2020(하반기),노원구,2020,56438,590,18188,14653,23007,32737,408,8735,7129,16465
60,서울도봉경찰서,2020(상반기),도봉구,2020,34884,196,9391,10856,14441,19446,158,4772,4882,9634
61,서울도봉경찰서,2020(하반기),도봉구,2020,34884,196,9391,10856,14441,19446,158,4772,4882,9634

In [114]:
df_na.iloc[df_na[df_na['sgg_nm'].isin(['중구', '강남구', '종로구', '성북구', '서초구', '은평구'])].index, 4:] = df_na.iloc[df_na[df_na['sgg_nm'].isin(['중구', '강남구', '종로구', '성북구', '서초구', '은평구'])].index, 4:] / 2

In [116]:
df_na.drop(columns = ['sgg_nm', 'date'], inplace = True)

In [117]:
df_na

,jur_stn,year,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2020(상반기),11409.0,217.5,5077.5,3036.5,3077.5,5898.5,147.5,2617.5,1266.0,1867.5
1,서울남대문경찰서,2020(상반기),11409.0,217.5,5077.5,3036.5,3077.5,5898.5,147.5,2617.5,1266.0,1867.5
2,서울중부경찰서,2020(하반기),11409.0,217.5,5077.5,3036.5,3077.5,5898.5,147.5,2617.5,1266.0,1867.5
3,서울남대문경찰서,2020(하반기),11409.0,217.5,5077.5,3036.5,3077.5,5898.5,147.5,2617.5,1266.0,1867.5
4,서울종로경찰서,2020(상반기),12991.5,199.0,6173.0,3307.5,3312.0,6660.0,132.0,3100.5,1423.5,2004.0
...,...,...,...,...,...,...,...,...,...,...,...,...
57,서울송파경찰서,2020(하반기),73694.0,284.0,35942.0,20206.0,17262.0,40804.0,159.0,19351.0,9449.0,11845.0
58,서울노원경찰서,2020(상반기),56438.0,590.0,18188.0,14653.0,23007.0,32737.0,408.0,8735.0,7129.0,16465.0
59,서울노원경찰서,2020(하반기),56438.0,590.0,18188.0,14653.0,23007.0,32737.0,408.0,8735.0,7129.0,16465.0
60,서울도봉경찰서,2020(상반기),34884.0,196.0,9391.0,10856.0,14441.0,19446.0,158.0,4772.0,4882.0,9634.0
61,서울도봉경찰서,2020(하반기),34884.0,196.0,9391.0,10856.0,14441.0,19446.0,158.0,4772.0,4882.0,9634.0

In [118]:
df_1 = pd.read_csv('15번.1인가구_total.csv')

In [123]:
df_1

,jur_stn,year,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,서울종로경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,서울남대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울서대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울혜화경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
364,창원서부경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,마산중부경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,마산동부경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,진주경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,진해경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
df_na

,jur_stn,year,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2020(상반기),11409.0,217.5,5077.5,3036.5,3077.5,5898.5,147.5,2617.5,1266.0,1867.5
1,서울남대문경찰서,2020(상반기),11409.0,217.5,5077.5,3036.5,3077.5,5898.5,147.5,2617.5,1266.0,1867.5
2,서울중부경찰서,2020(하반기),11409.0,217.5,5077.5,3036.5,3077.5,5898.5,147.5,2617.5,1266.0,1867.5
3,서울남대문경찰서,2020(하반기),11409.0,217.5,5077.5,3036.5,3077.5,5898.5,147.5,2617.5,1266.0,1867.5
4,서울종로경찰서,2020(상반기),12991.5,199.0,6173.0,3307.5,3312.0,6660.0,132.0,3100.5,1423.5,2004.0
...,...,...,...,...,...,...,...,...,...,...,...,...
57,서울송파경찰서,2020(하반기),73694.0,284.0,35942.0,20206.0,17262.0,40804.0,159.0,19351.0,9449.0,11845.0
58,서울노원경찰서,2020(상반기),56438.0,590.0,18188.0,14653.0,23007.0,32737.0,408.0,8735.0,7129.0,16465.0
59,서울노원경찰서,2020(하반기),56438.0,590.0,18188.0,14653.0,23007.0,32737.0,408.0,8735.0,7129.0,16465.0
60,서울도봉경찰서,2020(상반기),34884.0,196.0,9391.0,10856.0,14441.0,19446.0,158.0,4772.0,4882.0,9634.0
61,서울도봉경찰서,2020(하반기),34884.0,196.0,9391.0,10856.0,14441.0,19446.0,158.0,4772.0,4882.0,9634.0

In [129]:
df_1 = df_1[:-82]

In [131]:
df_1

,jur_stn,year,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,서울종로경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,서울남대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울서대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울혜화경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
282,창원서부경찰서,2019(하반기),28135.0,105.0,8529.0,10946.0,8555.0,13016.0,50.0,2900.0,4492.0,5574.0
283,마산중부경찰서,2019(하반기),23383.0,513.0,5895.0,6580.0,10395.0,12431.0,192.0,2216.0,2837.0,7186.0
284,마산동부경찰서,2019(하반기),20331.0,81.0,3791.0,7160.0,9299.0,10643.0,42.0,1496.0,2939.0,6166.0
285,진주경찰서,2019(하반기),44003.0,670.0,15178.0,11882.0,16273.0,23362.0,308.0,6026.0,5205.0,11823.0
286,진해경찰서,2019(하반기),20962.0,46.0,6316.0,7359.0,7241.0,9331.0,26.0,1782.0,2592.0,4931.0

In [132]:
df_na

,jur_stn,year,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2020(상반기),11409.0,217.5,5077.5,3036.5,3077.5,5898.5,147.5,2617.5,1266.0,1867.5
1,서울남대문경찰서,2020(상반기),11409.0,217.5,5077.5,3036.5,3077.5,5898.5,147.5,2617.5,1266.0,1867.5
2,서울중부경찰서,2020(하반기),11409.0,217.5,5077.5,3036.5,3077.5,5898.5,147.5,2617.5,1266.0,1867.5
3,서울남대문경찰서,2020(하반기),11409.0,217.5,5077.5,3036.5,3077.5,5898.5,147.5,2617.5,1266.0,1867.5
4,서울종로경찰서,2020(상반기),12991.5,199.0,6173.0,3307.5,3312.0,6660.0,132.0,3100.5,1423.5,2004.0
...,...,...,...,...,...,...,...,...,...,...,...,...
57,서울송파경찰서,2020(하반기),73694.0,284.0,35942.0,20206.0,17262.0,40804.0,159.0,19351.0,9449.0,11845.0
58,서울노원경찰서,2020(상반기),56438.0,590.0,18188.0,14653.0,23007.0,32737.0,408.0,8735.0,7129.0,16465.0
59,서울노원경찰서,2020(하반기),56438.0,590.0,18188.0,14653.0,23007.0,32737.0,408.0,8735.0,7129.0,16465.0
60,서울도봉경찰서,2020(상반기),34884.0,196.0,9391.0,10856.0,14441.0,19446.0,158.0,4772.0,4882.0,9634.0
61,서울도봉경찰서,2020(하반기),34884.0,196.0,9391.0,10856.0,14441.0,19446.0,158.0,4772.0,4882.0,9634.0

In [133]:
pd.concat([df_1, df_na])

,jur_stn,year,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,서울종로경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,서울남대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울서대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울혜화경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
57,서울송파경찰서,2020(하반기),73694.0,284.0,35942.0,20206.0,17262.0,40804.0,159.0,19351.0,9449.0,11845.0
58,서울노원경찰서,2020(상반기),56438.0,590.0,18188.0,14653.0,23007.0,32737.0,408.0,8735.0,7129.0,16465.0
59,서울노원경찰서,2020(하반기),56438.0,590.0,18188.0,14653.0,23007.0,32737.0,408.0,8735.0,7129.0,16465.0
60,서울도봉경찰서,2020(상반기),34884.0,196.0,9391.0,10856.0,14441.0,19446.0,158.0,4772.0,4882.0,9634.0
61,서울도봉경찰서,2020(하반기),34884.0,196.0,9391.0,10856.0,14441.0,19446.0,158.0,4772.0,4882.0,9634.0

In [135]:
df_b = pd.read_csv('base_df.csv')

In [137]:
df_fin = pd.merge(left = df_b, right = pd.concat([df_1, df_na]), how = 'left', on = ['jur_stn', 'year'])
df_fin

,jur_stn,year,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,서울종로경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,서울남대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울서대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울혜화경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
364,창원서부경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,마산중부경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,마산동부경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,진주경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,진해경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
df_fin.to_csv('15번.1인가구.csv', index = False)

In [36]:
df['sx'].unique()

array(['계', '남자', '여자'], dtype=object)

In [37]:
# 불필요한 컬럼 제거
df.drop(columns = ['sido', 'house_total_num', 'detached_house', 'apartment', 'townhouse',
       'multiplex_house', 'house_in_commercial', 'not_in_house'], inplace = True)

In [38]:
df

     sgg_nm  sx     age  date  single_person_hh
0       종로구   계      합계  2017             23638
1       종로구   계  20세 미만  2017               507
2       종로구   계   20~24  2017              2992
3       종로구   계   25~29  2017              3627
4       종로구   계   30~34  2017              2552
...     ...  ..     ...   ...               ...
5179    광진구  여자   65~69  2019              1401
5180    광진구  여자   70~74  2019              1300
5181    광진구  여자   75~79  2019              1221
5182    광진구  여자   80~84  2019               849
5183    광진구  여자  85세 이상  2019               574

[5184 rows x 5 columns]

In [39]:
# 필요한 데이터행 추출
df_n = df[df['sx'].isin(['계', '여자'])]
df_n

     sgg_nm  sx     age  date  single_person_hh
0       종로구   계      합계  2017             23638
1       종로구   계  20세 미만  2017               507
2       종로구   계   20~24  2017              2992
3       종로구   계   25~29  2017              3627
4       종로구   계   30~34  2017              2552
...     ...  ..     ...   ...               ...
5179    광진구  여자   65~69  2019              1401
5180    광진구  여자   70~74  2019              1300
5181    광진구  여자   75~79  2019              1221
5182    광진구  여자   80~84  2019               849
5183    광진구  여자  85세 이상  2019               574

[3456 rows x 5 columns]

In [40]:
df_na = df[df['sx'].isin(['계'])]
df_na

     sgg_nm sx     age  date  single_person_hh
0       종로구  계      합계  2017             23638
1       종로구  계  20세 미만  2017               507
2       종로구  계   20~24  2017              2992
3       종로구  계   25~29  2017              3627
4       종로구  계   30~34  2017              2552
...     ... ..     ...   ...               ...
5147    광진구  계   65~69  2019              2286
5148    광진구  계   70~74  2019              1959
5149    광진구  계   75~79  2019              1621
5150    광진구  계   80~84  2019              1060
5151    광진구  계  85세 이상  2019               679

[1728 rows x 5 columns]

In [41]:
df_nf = df[df['sx'].isin(['여자'])]
df_nf

     sgg_nm  sx     age  date  single_person_hh
32      종로구  여자      합계  2017             12044
33      종로구  여자  20세 미만  2017               316
34      종로구  여자   20~24  2017              1854
35      종로구  여자   25~29  2017              1545
36      종로구  여자   30~34  2017              1178
...     ...  ..     ...   ...               ...
5179    광진구  여자   65~69  2019              1401
5180    광진구  여자   70~74  2019              1300
5181    광진구  여자   75~79  2019              1221
5182    광진구  여자   80~84  2019               849
5183    광진구  여자  85세 이상  2019               574

[1728 rows x 5 columns]

In [42]:
df_n.dtypes

sgg_nm              object
sx                  object
age                 object
date                 int64
single_person_hh     int64
dtype: object

In [80]:
# 경찰서별 담당 행정구역
sgg_nm_transfer = {
    '마산동부경찰서' : '창원시마산회원구'  ,
    '마산중부경찰서' : '창원시마산합포구'  ,
    '서울강남경찰서' : '강남구'  , 
    '서울강동경찰서' : '강동구' , 
    '서울강북경찰서' :'강북구'  , 
    '서울강서경찰서' :  '강서구',
    '서울관악경찰서' : '관악구' ,
      '서울광진경찰서' : '광진구', 
     '서울구로경찰서' : '구로구' , 
     '서울금천경찰서' : '금천구' , 
    '서울남대문경찰서' : '중구' , 
    '서울노원경찰서' : '노원구' ,
    '서울도봉경찰서' : '도봉구'  , 
    '서울동대문경찰서' : '동대문구'  , 
    '서울동작경찰서' : '동작구'  , 
    '서울마포경찰서' : '마포구' , 
    '서울방배경찰서' : '서초구', 
    '서울서대문경찰서' : '서대문구' ,
    '서울서부경찰서' : '은평구' , 
    '서울서초경찰서' : '서초구' , 
    '서울성동경찰서' : '성동구' , 
    '서울성북경찰서' :'성북구' , 
    '서울송파경찰서' :'송파구' , 
    '서울수서경찰서' : '강남구' ,
     '서울양천경찰서': '양천구'  , 
    '서울영등포경찰서' : '영등포구' , 
    '서울용산경찰서': '용산구'  , 
    '서울은평경찰서' : '은평구' , 
    '서울종로경찰서': '종로구', 
    '서울종암경찰서' : '성북구'  ,
     '서울중랑경찰서' : '중랑구'   , 
    '서울중부경찰서' : '중구'  , 
    '서울혜화경찰서': '종로구'  , 
    '세종경찰서' : '세종시'  , 
    '수원남부경찰서': '수원시영통구'  ,
   '수원서부경찰서' : '수원시팔달구'  ,  
    '수원중부경찰서' :'수원시장안구'   , 
    '진주경찰서' : '진주시'  ,
    '진해경찰서' : '창원시진해구'  , 
    '창원서부경찰서' : '창원시의창구' , 
    '창원중부경찰서': '창원시성산구'
    
}

In [81]:
df_b['sgg_nm'] = df_b['jur_stn'].apply(lambda x : sgg_nm_transfer[x])
df_b

      jur_stn       year    sgg_nm
0     서울중부경찰서   2016(이전)        중구
1     서울종로경찰서   2016(이전)       종로구
2    서울남대문경찰서   2016(이전)        중구
3    서울서대문경찰서   2016(이전)      서대문구
4     서울혜화경찰서   2016(이전)       종로구
..        ...        ...       ...
364   창원서부경찰서  2020(하반기)    창원시의창구
365   마산중부경찰서  2020(하반기)  창원시마산합포구
366   마산동부경찰서  2020(하반기)  창원시마산회원구
367     진주경찰서  2020(하반기)       진주시
368     진해경찰서  2020(하반기)    창원시진해구

[369 rows x 3 columns]

In [82]:
# 연도 추가
df_b['date'] = df_b['year'].apply(lambda x : int(x[:4]))
df_b

      jur_stn       year    sgg_nm  date
0     서울중부경찰서   2016(이전)        중구  2016
1     서울종로경찰서   2016(이전)       종로구  2016
2    서울남대문경찰서   2016(이전)        중구  2016
3    서울서대문경찰서   2016(이전)      서대문구  2016
4     서울혜화경찰서   2016(이전)       종로구  2016
..        ...        ...       ...   ...
364   창원서부경찰서  2020(하반기)    창원시의창구  2020
365   마산중부경찰서  2020(하반기)  창원시마산합포구  2020
366   마산동부경찰서  2020(하반기)  창원시마산회원구  2020
367     진주경찰서  2020(하반기)       진주시  2020
368     진해경찰서  2020(하반기)    창원시진해구  2020

[369 rows x 4 columns]

In [46]:
df_na = pd.merge(df_b, df_na, on =['sgg_nm', 'date'])
df_ba = df_na[['jur_stn', 'year', 'sgg_nm', 'date']]
df_ba

      jur_stn       year  sgg_nm  date
0     서울중부경찰서  2017(상반기)      중구  2017
1     서울중부경찰서  2017(상반기)      중구  2017
2     서울중부경찰서  2017(상반기)      중구  2017
3     서울중부경찰서  2017(상반기)      중구  2017
4     서울중부경찰서  2017(상반기)      중구  2017
...       ...        ...     ...   ...
3931    진해경찰서  2019(하반기)  창원시진해구  2019
3932    진해경찰서  2019(하반기)  창원시진해구  2019
3933    진해경찰서  2019(하반기)  창원시진해구  2019
3934    진해경찰서  2019(하반기)  창원시진해구  2019
3935    진해경찰서  2019(하반기)  창원시진해구  2019

[3936 rows x 4 columns]

In [47]:
for i in df_na['age'].unique() :
    df_ba['single_'+i] = 0

<ipython-input-47-dfeff9499cf5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ba['single_'+i] = 0

In [49]:
df_ba

,jur_stn,year,sgg_nm,date,single_합계,single_20세 미만,single_20~24,single_25~29,single_30~34,single_35~39,single_40~44,single_45~49,single_50~54,single_55~59,single_60~64,single_65~69,single_70~74,single_75~79,single_80~84,single_85세 이상
0,서울중부경찰서,2017(상반기),중구,2017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,서울중부경찰서,2017(상반기),중구,2017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,서울중부경찰서,2017(상반기),중구,2017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,서울중부경찰서,2017(상반기),중구,2017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,서울중부경찰서,2017(상반기),중구,2017,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3931,진해경찰서,2019(하반기),창원시진해구,2019,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3932,진해경찰서,2019(하반기),창원시진해구,2019,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3933,진해경찰서,2019(하반기),창원시진해구,2019,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3934,진해경찰서,2019(하반기),창원시진해구,2019,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3935,진해경찰서,2019(하반기),창원시진해구,2019,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [50]:
for i in range(len(df_na)) :
    bb_nm = df_na['age'].iloc[i]
    bb = df_ba[(df_ba['jur_stn']==df_na['jur_stn'].iloc[i])&(df_ba['date']==df_na['date'].iloc[i])]
    bb[bb_nm] = df_na['single_person_hh'].iloc[i]
    df_ba['single_' + bb_nm].iloc[bb.index] = df_na['single_person_hh'].iloc[i]
df2 = df_ba
df2

<ipython-input-50-66de747aeedf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb[bb_nm] = df_na['single_person_hh'].iloc[i]
C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,jur_stn,year,sgg_nm,date,single_합계,single_20세 미만,single_20~24,single_25~29,single_30~34,single_35~39,single_40~44,single_45~49,single_50~54,single_55~59,single_60~64,single_65~69,single_70~74,single_75~79,single_80~84,single_85세 이상
0,서울중부경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
1,서울중부경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
2,서울중부경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
3,서울중부경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
4,서울중부경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3931,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,629,1825,1854,2008,1755,1901,1774,1929,2020,1520,1219,1137,829,516
3932,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,629,1825,1854,2008,1755,1901,1774,1929,2020,1520,1219,1137,829,516
3933,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,629,1825,1854,2008,1755,1901,1774,1929,2020,1520,1219,1137,829,516
3934,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,629,1825,1854,2008,1755,1901,1774,1929,2020,1520,1219,1137,829,516
3935,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,629,1825,1854,2008,1755,1901,1774,1929,2020,1520,1219,1137,829,516

In [51]:
df2.drop_duplicates(inplace=True)
df2

,jur_stn,year,sgg_nm,date,single_합계,single_20세 미만,single_20~24,single_25~29,single_30~34,single_35~39,single_40~44,single_45~49,single_50~54,single_55~59,single_60~64,single_65~69,single_70~74,single_75~79,single_80~84,single_85세 이상
0,서울중부경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
16,서울남대문경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
32,서울중부경찰서,2017(하반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
48,서울남대문경찰서,2017(하반기),중구,2017,20164,499,2097,2669,2169,1686,1400,1632,1367,1510,1376,1097,882,912,519,349
64,서울종로경찰서,2017(상반기),종로구,2017,23638,507,2992,3627,2552,1796,1518,1723,1540,1660,1471,1151,1065,998,608,430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3856,마산동부경찰서,2019(하반기),창원시마산회원구,2019,20331,81,545,1038,982,1226,1213,1679,1899,2369,2768,2154,1716,1383,864,414
3872,진주경찰서,2019(상반기),진주시,2019,44003,670,4760,4668,3144,2606,2304,2907,3015,3656,3794,3067,2787,2896,2221,1508
3888,진주경찰서,2019(하반기),진주시,2019,44003,670,4760,4668,3144,2606,2304,2907,3015,3656,3794,3067,2787,2896,2221,1508
3904,진해경찰서,2019(상반기),창원시진해구,2019,20962,46,629,1825,1854,2008,1755,1901,1774,1929,2020,1520,1219,1137,829,516
3920,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,629,1825,1854,2008,1755,1901,1774,1929,2020,1520,1219,1137,829,516

In [52]:
df2['year'].value_counts()

2017(상반기)    41
2017(하반기)    41
2018(상반기)    41
2018(하반기)    41
2019(상반기)    41
2019(하반기)    41
Name: year, dtype: int64

In [60]:
df2['single_u20'] = df2['single_20세 미만']
df2['single_2030'] = df2['single_20~24'] + df2['single_25~29'] + df2['single_30~34'] + df2['single_35~39']
df2['single_4050'] = df2['single_40~44'] + df2['single_45~49'] + df2['single_50~54'] + df2['single_55~59']

In [62]:
df2['single_o60'] = df2['single_합계'] - df2['single_u20'] - df2['single_2030'] - df2['single_4050']
df2

,jur_stn,year,sgg_nm,date,single_합계,single_20세 미만,single_20~24,single_25~29,single_30~34,single_35~39,...,single_60~64,single_65~69,single_70~74,single_75~79,single_80~84,single_85세 이상,single_u20,single_2030,single_4050,single_o60
0,서울중부경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,...,1376,1097,882,912,519,349,499,8621,5909,5135
16,서울남대문경찰서,2017(상반기),중구,2017,20164,499,2097,2669,2169,1686,...,1376,1097,882,912,519,349,499,8621,5909,5135
32,서울중부경찰서,2017(하반기),중구,2017,20164,499,2097,2669,2169,1686,...,1376,1097,882,912,519,349,499,8621,5909,5135
48,서울남대문경찰서,2017(하반기),중구,2017,20164,499,2097,2669,2169,1686,...,1376,1097,882,912,519,349,499,8621,5909,5135
64,서울종로경찰서,2017(상반기),종로구,2017,23638,507,2992,3627,2552,1796,...,1471,1151,1065,998,608,430,507,10967,6441,5723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3856,마산동부경찰서,2019(하반기),창원시마산회원구,2019,20331,81,545,1038,982,1226,...,2768,2154,1716,1383,864,414,81,3791,7160,9299
3872,진주경찰서,2019(상반기),진주시,2019,44003,670,4760,4668,3144,2606,...,3794,3067,2787,2896,2221,1508,670,15178,11882,16273
3888,진주경찰서,2019(하반기),진주시,2019,44003,670,4760,4668,3144,2606,...,3794,3067,2787,2896,2221,1508,670,15178,11882,16273
3904,진해경찰서,2019(상반기),창원시진해구,2019,20962,46,629,1825,1854,2008,...,2020,1520,1219,1137,829,516,46,6316,7359,7241
3920,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,629,1825,1854,2008,...,2020,1520,1219,1137,829,516,46,6316,7359,7241

In [63]:
df2.columns

Index(['jur_stn', 'year', 'sgg_nm', 'date', 'single_합계', 'single_20세 미만',
       'single_20~24', 'single_25~29', 'single_30~34', 'single_35~39',
       'single_40~44', 'single_45~49', 'single_50~54', 'single_55~59',
       'single_60~64', 'single_65~69', 'single_70~74', 'single_75~79',
       'single_80~84', 'single_85세 이상', 'single_u20', 'single_2030',
       'single_4050', 'single_o60'],
      dtype='object')

In [64]:
df2.drop(columns = ['single_20세 미만',
       'single_20~24', 'single_25~29', 'single_30~34', 'single_35~39',
       'single_40~44', 'single_45~49', 'single_50~54', 'single_55~59',
       'single_60~64', 'single_65~69', 'single_70~74', 'single_75~79',
       'single_80~84', 'single_85세 이상'], inplace = True)

In [65]:
df2

,jur_stn,year,sgg_nm,date,single_합계,single_u20,single_2030,single_4050,single_o60
0,서울중부경찰서,2017(상반기),중구,2017,20164,499,8621,5909,5135
16,서울남대문경찰서,2017(상반기),중구,2017,20164,499,8621,5909,5135
32,서울중부경찰서,2017(하반기),중구,2017,20164,499,8621,5909,5135
48,서울남대문경찰서,2017(하반기),중구,2017,20164,499,8621,5909,5135
64,서울종로경찰서,2017(상반기),종로구,2017,23638,507,10967,6441,5723
...,...,...,...,...,...,...,...,...,...
3856,마산동부경찰서,2019(하반기),창원시마산회원구,2019,20331,81,3791,7160,9299
3872,진주경찰서,2019(상반기),진주시,2019,44003,670,15178,11882,16273
3888,진주경찰서,2019(하반기),진주시,2019,44003,670,15178,11882,16273
3904,진해경찰서,2019(상반기),창원시진해구,2019,20962,46,6316,7359,7241
3920,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,6316,7359,7241

In [55]:
df_nf = pd.merge(df_b, df_nf, on =['sgg_nm', 'date'])
df_bf = df_nf[['jur_stn', 'year', 'sgg_nm', 'date']]
df_bf

      jur_stn       year  sgg_nm  date
0     서울중부경찰서  2017(상반기)      중구  2017
1     서울중부경찰서  2017(상반기)      중구  2017
2     서울중부경찰서  2017(상반기)      중구  2017
3     서울중부경찰서  2017(상반기)      중구  2017
4     서울중부경찰서  2017(상반기)      중구  2017
...       ...        ...     ...   ...
3931    진해경찰서  2019(하반기)  창원시진해구  2019
3932    진해경찰서  2019(하반기)  창원시진해구  2019
3933    진해경찰서  2019(하반기)  창원시진해구  2019
3934    진해경찰서  2019(하반기)  창원시진해구  2019
3935    진해경찰서  2019(하반기)  창원시진해구  2019

[3936 rows x 4 columns]

In [56]:
for i in df_nf['age'].unique() :
    df_bf['single_f_'+i] = 0

<ipython-input-56-652090222bc0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bf['single_f_'+i] = 0

In [57]:
for i in range(len(df_nf)) :
    bb_nm = df_nf['age'].iloc[i]
    bb = df_bf[(df_bf['jur_stn']==df_nf['jur_stn'].iloc[i])&(df_bf['date']==df_nf['date'].iloc[i])]
    bb[bb_nm] = df_na['single_person_hh'].iloc[i]
    df_bf['single_f_' + bb_nm].iloc[bb.index] = df_nf['single_person_hh'].iloc[i]
df3 = df_bf
df3

<ipython-input-57-d1dd8cbbde8b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb[bb_nm] = df_na['single_person_hh'].iloc[i]
C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,jur_stn,year,sgg_nm,date,single_f_합계,single_f_20세 미만,single_f_20~24,single_f_25~29,single_f_30~34,single_f_35~39,single_f_40~44,single_f_45~49,single_f_50~54,single_f_55~59,single_f_60~64,single_f_65~69,single_f_70~74,single_f_75~79,single_f_80~84,single_f_85세 이상
0,서울중부경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
1,서울중부경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
2,서울중부경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
3,서울중부경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
4,서울중부경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3931,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,240,552,512,478,423,591,686,892,1149,926,853,900,671,432
3932,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,240,552,512,478,423,591,686,892,1149,926,853,900,671,432
3933,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,240,552,512,478,423,591,686,892,1149,926,853,900,671,432
3934,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,240,552,512,478,423,591,686,892,1149,926,853,900,671,432
3935,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,240,552,512,478,423,591,686,892,1149,926,853,900,671,432

In [58]:
df3.drop_duplicates(inplace=True)
df3

,jur_stn,year,sgg_nm,date,single_f_합계,single_f_20세 미만,single_f_20~24,single_f_25~29,single_f_30~34,single_f_35~39,single_f_40~44,single_f_45~49,single_f_50~54,single_f_55~59,single_f_60~64,single_f_65~69,single_f_70~74,single_f_75~79,single_f_80~84,single_f_85세 이상
0,서울중부경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
16,서울남대문경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
32,서울중부경찰서,2017(하반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
48,서울남대문경찰서,2017(하반기),중구,2017,10338,350,1302,1250,934,770,615,641,536,669,659,632,603,694,405,278
64,서울종로경찰서,2017(상반기),종로구,2017,12044,316,1854,1545,1178,829,694,741,609,713,715,649,693,711,462,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3856,마산동부경찰서,2019(하반기),창원시마산회원구,2019,10643,42,327,440,353,376,405,598,799,1137,1571,1333,1171,1049,694,348
3872,진주경찰서,2019(상반기),진주시,2019,23362,308,2268,1761,1062,935,849,1119,1370,1867,2225,1994,2069,2358,1877,1300
3888,진주경찰서,2019(하반기),진주시,2019,23362,308,2268,1761,1062,935,849,1119,1370,1867,2225,1994,2069,2358,1877,1300
3904,진해경찰서,2019(상반기),창원시진해구,2019,9331,26,240,552,512,478,423,591,686,892,1149,926,853,900,671,432
3920,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,240,552,512,478,423,591,686,892,1149,926,853,900,671,432

In [59]:
df3['year'].value_counts()

2017(상반기)    41
2017(하반기)    41
2018(상반기)    41
2018(하반기)    41
2019(상반기)    41
2019(하반기)    41
Name: year, dtype: int64

In [66]:
df3['single_f_u20'] = df3['single_f_20세 미만']
df3['single_f_2030'] = df3['single_f_20~24'] + df3['single_f_25~29'] + df3['single_f_30~34'] + df3['single_f_35~39']
df3['single_f_4050'] = df3['single_f_40~44'] + df3['single_f_45~49'] + df3['single_f_50~54'] + df3['single_f_55~59']

In [67]:
df3['single_f_o60'] = df3['single_f_합계'] - df3['single_f_u20'] - df3['single_f_2030'] - df3['single_f_4050']
df3

,jur_stn,year,sgg_nm,date,single_f_합계,single_f_20세 미만,single_f_20~24,single_f_25~29,single_f_30~34,single_f_35~39,...,single_f_60~64,single_f_65~69,single_f_70~74,single_f_75~79,single_f_80~84,single_f_85세 이상,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,...,659,632,603,694,405,278,350,4256,2461,3271
16,서울남대문경찰서,2017(상반기),중구,2017,10338,350,1302,1250,934,770,...,659,632,603,694,405,278,350,4256,2461,3271
32,서울중부경찰서,2017(하반기),중구,2017,10338,350,1302,1250,934,770,...,659,632,603,694,405,278,350,4256,2461,3271
48,서울남대문경찰서,2017(하반기),중구,2017,10338,350,1302,1250,934,770,...,659,632,603,694,405,278,350,4256,2461,3271
64,서울종로경찰서,2017(상반기),종로구,2017,12044,316,1854,1545,1178,829,...,715,649,693,711,462,335,316,5406,2757,3565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3856,마산동부경찰서,2019(하반기),창원시마산회원구,2019,10643,42,327,440,353,376,...,1571,1333,1171,1049,694,348,42,1496,2939,6166
3872,진주경찰서,2019(상반기),진주시,2019,23362,308,2268,1761,1062,935,...,2225,1994,2069,2358,1877,1300,308,6026,5205,11823
3888,진주경찰서,2019(하반기),진주시,2019,23362,308,2268,1761,1062,935,...,2225,1994,2069,2358,1877,1300,308,6026,5205,11823
3904,진해경찰서,2019(상반기),창원시진해구,2019,9331,26,240,552,512,478,...,1149,926,853,900,671,432,26,1782,2592,4931
3920,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,240,552,512,478,...,1149,926,853,900,671,432,26,1782,2592,4931

In [68]:
df3.columns

Index(['jur_stn', 'year', 'sgg_nm', 'date', 'single_f_합계', 'single_f_20세 미만',
       'single_f_20~24', 'single_f_25~29', 'single_f_30~34', 'single_f_35~39',
       'single_f_40~44', 'single_f_45~49', 'single_f_50~54', 'single_f_55~59',
       'single_f_60~64', 'single_f_65~69', 'single_f_70~74', 'single_f_75~79',
       'single_f_80~84', 'single_f_85세 이상', 'single_f_u20', 'single_f_2030',
       'single_f_4050', 'single_f_o60'],
      dtype='object')

In [70]:
df3.drop(columns = ['single_f_20세 미만',
       'single_f_20~24', 'single_f_25~29', 'single_f_30~34', 'single_f_35~39',
       'single_f_40~44', 'single_f_45~49', 'single_f_50~54', 'single_f_55~59',
       'single_f_60~64', 'single_f_65~69', 'single_f_70~74', 'single_f_75~79',
       'single_f_80~84', 'single_f_85세 이상'], inplace = True)

In [71]:
df3

,jur_stn,year,sgg_nm,date,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2017(상반기),중구,2017,10338,350,4256,2461,3271
16,서울남대문경찰서,2017(상반기),중구,2017,10338,350,4256,2461,3271
32,서울중부경찰서,2017(하반기),중구,2017,10338,350,4256,2461,3271
48,서울남대문경찰서,2017(하반기),중구,2017,10338,350,4256,2461,3271
64,서울종로경찰서,2017(상반기),종로구,2017,12044,316,5406,2757,3565
...,...,...,...,...,...,...,...,...,...
3856,마산동부경찰서,2019(하반기),창원시마산회원구,2019,10643,42,1496,2939,6166
3872,진주경찰서,2019(상반기),진주시,2019,23362,308,6026,5205,11823
3888,진주경찰서,2019(하반기),진주시,2019,23362,308,6026,5205,11823
3904,진해경찰서,2019(상반기),창원시진해구,2019,9331,26,1782,2592,4931
3920,진해경찰서,2019(하반기),창원시진해구,2019,9331,26,1782,2592,4931

In [73]:
df4 = pd.merge(left = df2, right = df3, how = 'left', on = ['jur_stn', 'year'])

In [74]:
df4

,jur_stn,year,sgg_nm_x,date_x,single_합계,single_u20,single_2030,single_4050,single_o60,sgg_nm_y,date_y,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2017(상반기),중구,2017,20164,499,8621,5909,5135,중구,2017,10338,350,4256,2461,3271
1,서울남대문경찰서,2017(상반기),중구,2017,20164,499,8621,5909,5135,중구,2017,10338,350,4256,2461,3271
2,서울중부경찰서,2017(하반기),중구,2017,20164,499,8621,5909,5135,중구,2017,10338,350,4256,2461,3271
3,서울남대문경찰서,2017(하반기),중구,2017,20164,499,8621,5909,5135,중구,2017,10338,350,4256,2461,3271
4,서울종로경찰서,2017(상반기),종로구,2017,23638,507,10967,6441,5723,종로구,2017,12044,316,5406,2757,3565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,마산동부경찰서,2019(하반기),창원시마산회원구,2019,20331,81,3791,7160,9299,창원시마산회원구,2019,10643,42,1496,2939,6166
242,진주경찰서,2019(상반기),진주시,2019,44003,670,15178,11882,16273,진주시,2019,23362,308,6026,5205,11823
243,진주경찰서,2019(하반기),진주시,2019,44003,670,15178,11882,16273,진주시,2019,23362,308,6026,5205,11823
244,진해경찰서,2019(상반기),창원시진해구,2019,20962,46,6316,7359,7241,창원시진해구,2019,9331,26,1782,2592,4931
245,진해경찰서,2019(하반기),창원시진해구,2019,20962,46,6316,7359,7241,창원시진해구,2019,9331,26,1782,2592,4931

In [75]:
df4.drop(columns = ['sgg_nm_x', 'date_x', 'sgg_nm_y', 'date_y'], inplace = True)
df4

,jur_stn,year,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2017(상반기),20164,499,8621,5909,5135,10338,350,4256,2461,3271
1,서울남대문경찰서,2017(상반기),20164,499,8621,5909,5135,10338,350,4256,2461,3271
2,서울중부경찰서,2017(하반기),20164,499,8621,5909,5135,10338,350,4256,2461,3271
3,서울남대문경찰서,2017(하반기),20164,499,8621,5909,5135,10338,350,4256,2461,3271
4,서울종로경찰서,2017(상반기),23638,507,10967,6441,5723,12044,316,5406,2757,3565
...,...,...,...,...,...,...,...,...,...,...,...,...
241,마산동부경찰서,2019(하반기),20331,81,3791,7160,9299,10643,42,1496,2939,6166
242,진주경찰서,2019(상반기),44003,670,15178,11882,16273,23362,308,6026,5205,11823
243,진주경찰서,2019(하반기),44003,670,15178,11882,16273,23362,308,6026,5205,11823
244,진해경찰서,2019(상반기),20962,46,6316,7359,7241,9331,26,1782,2592,4931
245,진해경찰서,2019(하반기),20962,46,6316,7359,7241,9331,26,1782,2592,4931

In [76]:
df4.to_csv('최종전.csv')

In [78]:
df4_n = df4

In [79]:
# 행정구역을 여러 경찰서가 담당하는 경우 그 수만큼 인구를 나눠줌
'''
for i in range(0, 3):
    df4_n.iloc[0 + 82 * i, 2:] = df4_n.iloc[0 + 82 * i, 2:] / 2
    df4_n.iloc[1 + 82 * i, 2:] = df4_n.iloc[1 + 82 * i, 2:] / 2
    df4_n.iloc[2 + 82 * i, 2:] = df4_n.iloc[2 + 82 * i, 2:] / 2
    df4_n.iloc[3 + 82 * i, 2:] = df4_n.iloc[3 + 82 * i, 2:] / 2 # 중구

    df4_n.iloc[4 + 82 * i, 2:] = df4_n.iloc[4 + 82 * i, 2:] / 2
    df4_n.iloc[5 + 82 * i, 2:] = df4_n.iloc[5 + 82 * i, 2:] / 2
    df4_n.iloc[6 + 82 * i, 2:] = df4_n.iloc[6 + 82 * i, 2:] / 2
    df4_n.iloc[7 + 82 * i, 2:] = df4_n.iloc[7 + 82 * i, 2:] / 2 # 종로구

    df4_n.iloc[12 + 82 * i, 2:] = df4_n.iloc[12 + 82 * i, 2:] / 2
    df4_n.iloc[13 + 82 * i, 2:] = df4_n.iloc[13 + 82 * i, 2:] / 2
    df4_n.iloc[14 + 82 * i, 2:] = df4_n.iloc[14 + 82 * i, 2:] / 2
    df4_n.iloc[15 + 82 * i, 2:] = df4_n.iloc[15 + 82 * i, 2:] / 2 # 성북구

    df4_n.iloc[28 + 82 * i, 2:] = df4_n.iloc[28 + 82 * i, 2:] / 2
    df4_n.iloc[29 + 82 * i, 2:] = df4_n.iloc[29 + 82 * i, 2:] / 2
    df4_n.iloc[30 + 82 * i, 2:] = df4_n.iloc[30 + 82 * i, 2:] / 2
    df4_n.iloc[31 + 82 * i, 2:] = df4_n.iloc[31 + 82 * i, 2:] / 2 # 은평구

    df4_n.iloc[50 + 82 * i, 2:] = df4_n.iloc[50 + 82 * i, 2:] / 2
    df4_n.iloc[51 + 82 * i, 2:] = df4_n.iloc[51 + 82 * i, 2:] / 2
    df4_n.iloc[52 + 82 * i, 2:] = df4_n.iloc[52 + 82 * i, 2:] / 2
    df4_n.iloc[53 + 82 * i, 2:] = df4_n.iloc[53 + 82 * i, 2:] / 2 # 서초구

    df4_n.iloc[38 + 82 * i, 2:] = df4_n.iloc[38 + 82 * i, 2:] / 2
    df4_n.iloc[39 + 82 * i, 2:] = df4_n.iloc[39 + 82 * i, 2:] / 2
    df4_n.iloc[40 + 82 * i, 2:] = df4_n.iloc[40 + 82 * i, 2:] / 2
    df4_n.iloc[41 + 82 * i, 2:] = df4_n.iloc[41 + 82 * i, 2:] / 2 # 강남구
'''

In [87]:
df4_n.to_csv('15번.1인가구_processed.csv', index = False)

In [82]:
df_b = pd.read_csv('base_df.csv')
df_b

      jur_stn       year
0     서울중부경찰서   2016(이전)
1     서울종로경찰서   2016(이전)
2    서울남대문경찰서   2016(이전)
3    서울서대문경찰서   2016(이전)
4     서울혜화경찰서   2016(이전)
..        ...        ...
364   창원서부경찰서  2020(하반기)
365   마산중부경찰서  2020(하반기)
366   마산동부경찰서  2020(하반기)
367     진주경찰서  2020(하반기)
368     진해경찰서  2020(하반기)

[369 rows x 2 columns]

In [83]:
df_b = pd.merge(left = df_b, right = df4_n, how = 'left', on = ['jur_stn', 'year'])
df_b

,jur_stn,year,single_합계,single_u20,single_2030,single_4050,single_o60,single_f_합계,single_f_u20,single_f_2030,single_f_4050,single_f_o60
0,서울중부경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,서울종로경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,서울남대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울서대문경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울혜화경찰서,2016(이전),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
364,창원서부경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,마산중부경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,마산동부경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,진주경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,진해경찰서,2020(하반기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
df_b.to_csv('15번.1인가구_total.csv', index = False)

In [88]:
df_b.columns

Index(['jur_stn', 'year', 'single_합계', 'single_u20', 'single_2030',
       'single_4050', 'single_o60', 'single_f_합계', 'single_f_u20',
       'single_f_2030', 'single_f_4050', 'single_f_o60'],
      dtype='object')

In [15]:
df_g = pd.read_csv('./data/15.5개시도_1인가구수.csv')

In [16]:
df_g

,sido,sgg_nm,sx,age,date,single_person_hh,house_total_num,detached_house,apartment,townhouse,multiplex_house,house_in_commercial,not_in_house
0,서울특별시,종로구,계,합계,2017,23638,19260,11234,2992,887,3279,868,4378
1,서울특별시,종로구,계,20세 미만,2017,507,459,379,11,11,38,20,48
2,서울특별시,종로구,계,20~24,2017,2992,2519,1773,158,44,340,204,473
3,서울특별시,종로구,계,25~29,2017,3627,2845,1677,398,77,552,141,782
4,서울특별시,종로구,계,30~34,2017,2552,1970,1024,357,64,449,76,582
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5179,서울특별시,광진구,여자,65~69,2019,1401,1371,837,202,39,257,36,30
5180,서울특별시,광진구,여자,70~74,2019,1300,1268,783,164,35,254,32,32
5181,서울특별시,광진구,여자,75~79,2019,1221,1182,740,175,44,197,26,39
5182,서울특별시,광진구,여자,80~84,2019,849,802,471,170,20,122,19,47
5183,서울특별시,광진구,여자,85세 이상,2019,574,527,339,95,10,73,10,47

In [17]:
df_g['sgg_nm'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', '세종시', '수원시장안구',
       '수원시권선구', '수원시팔달구', '수원시영통구', '진주시', '창원시의창구', '창원시성산구',
       '창원시마산합포구', '창원시마산회원구', '창원시진해구'], dtype=object)

In [18]:
df_g = df_g[df_g['sgg_nm'].isin(['수원시권선구'])]

In [19]:
df_g

,sido,sgg_nm,sx,age,date,single_person_hh,house_total_num,detached_house,apartment,townhouse,multiplex_house,house_in_commercial,not_in_house
1296,경기도,수원시권선구,계,합계,2017,35533,33608,17942,9357,410,4929,970,1925
1297,경기도,수원시권선구,계,20세 미만,2017,161,153,106,29,X,13,5,8
1298,경기도,수원시권선구,계,20~24,2017,1375,1264,808,182,7,215,52,111
1299,경기도,수원시권선구,계,25~29,2017,4144,3774,2250,589,16,769,150,370
1300,경기도,수원시권선구,계,30~34,2017,4773,4385,2464,930,22,799,170,388
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4699,경기도,수원시권선구,여자,65~69,2019,1237,1227,449,572,34,150,22,10
4700,경기도,수원시권선구,여자,70~74,2019,1088,1080,351,541,23,150,15,8
4701,경기도,수원시권선구,여자,75~79,2019,1027,1017,364,492,35,121,5,10
4702,경기도,수원시권선구,여자,80~84,2019,746,735,265,343,29,94,X,11
4703,경기도,수원시권선구,여자,85세 이상,2019,422,413,183,164,7,52,7,9

In [20]:
df_g = df_g[df_g['sx'].isin(['계', '여자'])]
df_g

,sido,sgg_nm,sx,age,date,single_person_hh,house_total_num,detached_house,apartment,townhouse,multiplex_house,house_in_commercial,not_in_house
1296,경기도,수원시권선구,계,합계,2017,35533,33608,17942,9357,410,4929,970,1925
1297,경기도,수원시권선구,계,20세 미만,2017,161,153,106,29,X,13,5,8
1298,경기도,수원시권선구,계,20~24,2017,1375,1264,808,182,7,215,52,111
1299,경기도,수원시권선구,계,25~29,2017,4144,3774,2250,589,16,769,150,370
1300,경기도,수원시권선구,계,30~34,2017,4773,4385,2464,930,22,799,170,388
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4699,경기도,수원시권선구,여자,65~69,2019,1237,1227,449,572,34,150,22,10
4700,경기도,수원시권선구,여자,70~74,2019,1088,1080,351,541,23,150,15,8
4701,경기도,수원시권선구,여자,75~79,2019,1027,1017,364,492,35,121,5,10
4702,경기도,수원시권선구,여자,80~84,2019,746,735,265,343,29,94,X,11
4703,경기도,수원시권선구,여자,85세 이상,2019,422,413,183,164,7,52,7,9